.box {
  background: #8111e8;
  overflow: hidden;
  height: 520px;
  // height: 100vh;
  // width: 100vw;
}

//

.header {
  margin: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 32px;
}

.x {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  color: #ffffff;
  transform: translate(-3px, 12px);
}

.pic {
  height: 0px;
}

.dheal {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px !important;
  line-height: 29px !important;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-left: 7px !important;
}

.second-heading {
  text-align: center;
  margin-left: 8% !important;
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 13px !important;
    line-height: 19px !important;

    text-align: center;

    color: #ffffff;
  }
}

//

.recommend {
  margin-top: 60px;
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 23px !important;
    text-align: center;

    color: #ffffff;
  }
}

.recommends {
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 18px !important;

    text-align: center;

    color: #ffffff;
  }
}

.logo-img {
  // display: inline;
  // position: relative;
  // top: -85px;
  // left: 209px;
  transform: translate(248px, -492px);
  // svg {
  // }
}

//

.stock-img {
  text-align: center;
  margin-top: 12px;
}

.friend-recommed {
  margin-top: 18px;
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 19px !important;
    text-align: center;

    color: #ffffff;
  }
}

.instant-cashback {
  color: #ffcf09;
  // color: #f97c80;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 0px black;
}

//

.get-this-now {
  text-align: center;
}

//

.save-this {
  a {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 23px !important;
    color: #ffc700;
    text-decoration: underline;
  }
}

//
