<div class="box">
    <div class="container">
        <div class="row">
            <div class="upper_img">
                <img src="../../../assets/img/accept/box.svg" alt="">
            </div>
            <div class="main">
                <div class="text">
                    <p>You’ve earned <span>2x Reward</span> on this purchase.
                    </p>

                </div>

                <div class="second_heading">
                    <p>Once you claim your reward, you will not be able to exchange/return the product</p>
                </div>


                <div class="accept_del">
                    <p>Claim Reward</p>
                    <div class="btns">
                        <button class="active" mat-button>now</button>
                        <button mat-button>later</button>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>