<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">Wishlist</p>

        </div>

    </div>
</div>

<div class="container">
    <div class="main">


        <div class="row">

            <div class="flex-container">




                <div class="col col-30 col-sm-50 col-card">
                    <div class="card-box">
                        <div class="content">

                            <div>
                                <img class="prod-img" src="assets/img/unsplash_FqVLT-Bs1jI.png" alt="">
                            </div>

                            <div>
                                <p class="prod-text">Face Primer</p>
                            </div>

                            <div>
                                <p class="prod-desc">Lorem ipsum dolor sit</p>
                            </div>

                            <div>
                                <p class="prod-rup">Rs.500</p>
                            </div>

                            <div class="wish-btn">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#F4F4F4" />
                                    <path
                                        d="M22.3664 11.6843C21.9984 11.2622 21.5616 10.9274 21.0807 10.699C20.5999 10.4705 20.0845 10.353 19.564 10.353C19.0435 10.353 18.5281 10.4705 18.0473 10.699C17.5664 10.9274 17.1296 11.2622 16.7616 11.6843L15.998 12.5598L15.2343 11.6843C14.4911 10.8321 13.483 10.3534 12.4319 10.3534C11.3808 10.3534 10.3728 10.8321 9.62954 11.6843C8.8863 12.5364 8.46875 13.6922 8.46875 14.8973C8.46875 16.1024 8.8863 17.2581 9.62954 18.1103L10.3932 18.9858L15.998 25.4118L21.6028 18.9858L22.3664 18.1103C22.7345 17.6884 23.0265 17.1875 23.2258 16.6362C23.425 16.0849 23.5276 15.494 23.5276 14.8973C23.5276 14.3005 23.425 13.7096 23.2258 13.1583C23.0265 12.607 22.7345 12.1061 22.3664 11.6843Z"
                                        stroke="#FF2323" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>

                                <button mat-button class="buy-now">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-30 col-sm-50 col-card">
                    <div class="card-box">
                        <div class="content">

                            <div>
                                <img class="prod-img" src="assets/img/unsplash_FqVLT-Bs1jI.png" alt="">
                            </div>

                            <div>
                                <p class="prod-text">Face Primer</p>
                            </div>

                            <div>
                                <p class="prod-desc">Lorem ipsum dolor sit</p>
                            </div>

                            <div>
                                <p class="prod-rup">Rs.500</p>
                            </div>

                            <div class="wish-btn">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#F4F4F4" />
                                    <path
                                        d="M22.3664 11.6843C21.9984 11.2622 21.5616 10.9274 21.0807 10.699C20.5999 10.4705 20.0845 10.353 19.564 10.353C19.0435 10.353 18.5281 10.4705 18.0473 10.699C17.5664 10.9274 17.1296 11.2622 16.7616 11.6843L15.998 12.5598L15.2343 11.6843C14.4911 10.8321 13.483 10.3534 12.4319 10.3534C11.3808 10.3534 10.3728 10.8321 9.62954 11.6843C8.8863 12.5364 8.46875 13.6922 8.46875 14.8973C8.46875 16.1024 8.8863 17.2581 9.62954 18.1103L10.3932 18.9858L15.998 25.4118L21.6028 18.9858L22.3664 18.1103C22.7345 17.6884 23.0265 17.1875 23.2258 16.6362C23.425 16.0849 23.5276 15.494 23.5276 14.8973C23.5276 14.3005 23.425 13.7096 23.2258 13.1583C23.0265 12.607 22.7345 12.1061 22.3664 11.6843Z"
                                        stroke="#FF2323" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>

                                <button mat-button class="buy-now">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col col-30 col-sm-50 col-card">
                    <div class="card-box">
                        <div class="content">

                            <div>
                                <img class="prod-img" src="assets/img/unsplash_FqVLT-Bs1jI.png" alt="">
                            </div>

                            <div>
                                <p class="prod-text">Face Primer</p>
                            </div>

                            <div>
                                <p class="prod-desc">Lorem ipsum dolor sit</p>
                            </div>

                            <div>
                                <p class="prod-rup">Rs.500</p>
                            </div>

                            <div class="wish-btn">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#F4F4F4" />
                                    <path
                                        d="M22.3664 11.6843C21.9984 11.2622 21.5616 10.9274 21.0807 10.699C20.5999 10.4705 20.0845 10.353 19.564 10.353C19.0435 10.353 18.5281 10.4705 18.0473 10.699C17.5664 10.9274 17.1296 11.2622 16.7616 11.6843L15.998 12.5598L15.2343 11.6843C14.4911 10.8321 13.483 10.3534 12.4319 10.3534C11.3808 10.3534 10.3728 10.8321 9.62954 11.6843C8.8863 12.5364 8.46875 13.6922 8.46875 14.8973C8.46875 16.1024 8.8863 17.2581 9.62954 18.1103L10.3932 18.9858L15.998 25.4118L21.6028 18.9858L22.3664 18.1103C22.7345 17.6884 23.0265 17.1875 23.2258 16.6362C23.425 16.0849 23.5276 15.494 23.5276 14.8973C23.5276 14.3005 23.425 13.7096 23.2258 13.1583C23.0265 12.607 22.7345 12.1061 22.3664 11.6843Z"
                                        stroke="#FF2323" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>

                                <button mat-button class="buy-now">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col col-30 col-sm-50 col-card">
                    <div class="card-box">
                        <div class="content">

                            <div>
                                <img class="prod-img" src="assets/img/unsplash_FqVLT-Bs1jI.png" alt="">
                            </div>

                            <div>
                                <p class="prod-text">Face Primer</p>
                            </div>

                            <div>
                                <p class="prod-desc">Lorem ipsum dolor sit</p>
                            </div>

                            <div>
                                <p class="prod-rup">Rs.500</p>
                            </div>

                            <div class="wish-btn">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#F4F4F4" />
                                    <path
                                        d="M22.3664 11.6843C21.9984 11.2622 21.5616 10.9274 21.0807 10.699C20.5999 10.4705 20.0845 10.353 19.564 10.353C19.0435 10.353 18.5281 10.4705 18.0473 10.699C17.5664 10.9274 17.1296 11.2622 16.7616 11.6843L15.998 12.5598L15.2343 11.6843C14.4911 10.8321 13.483 10.3534 12.4319 10.3534C11.3808 10.3534 10.3728 10.8321 9.62954 11.6843C8.8863 12.5364 8.46875 13.6922 8.46875 14.8973C8.46875 16.1024 8.8863 17.2581 9.62954 18.1103L10.3932 18.9858L15.998 25.4118L21.6028 18.9858L22.3664 18.1103C22.7345 17.6884 23.0265 17.1875 23.2258 16.6362C23.425 16.0849 23.5276 15.494 23.5276 14.8973C23.5276 14.3005 23.425 13.7096 23.2258 13.1583C23.0265 12.607 22.7345 12.1061 22.3664 11.6843Z"
                                        stroke="#FF2323" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>

                                <button mat-button class="buy-now">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-30 col-sm-50 col-card">
                    <div class="card-box">
                        <div class="content">

                            <div>
                                <img class="prod-img" src="assets/img/unsplash_FqVLT-Bs1jI.png" alt="">
                            </div>

                            <div>
                                <p class="prod-text">Face Primer</p>
                            </div>

                            <div>
                                <p class="prod-desc">Lorem ipsum dolor sit</p>
                            </div>

                            <div>
                                <p class="prod-rup">Rs.500</p>
                            </div>

                            <div class="wish-btn">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#F4F4F4" />
                                    <path
                                        d="M22.3664 11.6843C21.9984 11.2622 21.5616 10.9274 21.0807 10.699C20.5999 10.4705 20.0845 10.353 19.564 10.353C19.0435 10.353 18.5281 10.4705 18.0473 10.699C17.5664 10.9274 17.1296 11.2622 16.7616 11.6843L15.998 12.5598L15.2343 11.6843C14.4911 10.8321 13.483 10.3534 12.4319 10.3534C11.3808 10.3534 10.3728 10.8321 9.62954 11.6843C8.8863 12.5364 8.46875 13.6922 8.46875 14.8973C8.46875 16.1024 8.8863 17.2581 9.62954 18.1103L10.3932 18.9858L15.998 25.4118L21.6028 18.9858L22.3664 18.1103C22.7345 17.6884 23.0265 17.1875 23.2258 16.6362C23.425 16.0849 23.5276 15.494 23.5276 14.8973C23.5276 14.3005 23.425 13.7096 23.2258 13.1583C23.0265 12.607 22.7345 12.1061 22.3664 11.6843Z"
                                        stroke="#FF2323" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>

                                <button mat-button class="buy-now">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-30 col-sm-50 col-card">
                    <div class="card-box">
                        <div class="content">

                            <div>
                                <img class="prod-img" src="assets/img/unsplash_FqVLT-Bs1jI.png" alt="">
                            </div>

                            <div>
                                <p class="prod-text">Face Primer</p>
                            </div>

                            <div>
                                <p class="prod-desc">Lorem ipsum dolor sit</p>
                            </div>

                            <div>
                                <p class="prod-rup">Rs.500</p>
                            </div>

                            <div class="wish-btn">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="16" cy="16" r="16" fill="#F4F4F4" />
                                    <path
                                        d="M22.3664 11.6843C21.9984 11.2622 21.5616 10.9274 21.0807 10.699C20.5999 10.4705 20.0845 10.353 19.564 10.353C19.0435 10.353 18.5281 10.4705 18.0473 10.699C17.5664 10.9274 17.1296 11.2622 16.7616 11.6843L15.998 12.5598L15.2343 11.6843C14.4911 10.8321 13.483 10.3534 12.4319 10.3534C11.3808 10.3534 10.3728 10.8321 9.62954 11.6843C8.8863 12.5364 8.46875 13.6922 8.46875 14.8973C8.46875 16.1024 8.8863 17.2581 9.62954 18.1103L10.3932 18.9858L15.998 25.4118L21.6028 18.9858L22.3664 18.1103C22.7345 17.6884 23.0265 17.1875 23.2258 16.6362C23.425 16.0849 23.5276 15.494 23.5276 14.8973C23.5276 14.3005 23.425 13.7096 23.2258 13.1583C23.0265 12.607 22.7345 12.1061 22.3664 11.6843Z"
                                        stroke="#FF2323" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>

                                <button mat-button class="buy-now">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>