.d-md-block,
.d-lg-block {
  display: block !important;
}

//

.banner {
  margin: 15px 0px;
}

.whole_banner {
  width: 100%;
  height: 200px;
  background-color: #f2defd;
}

.banner_img_text {
  display: flex;
  /* align-items: center; */
  padding: 25px 15px;
}

.img_container {
  background-size: cover;
  background-position: center;
  // height: 38px;
  // width: 38px;
  // border: 1px solid gray;
  position: relative;
  border-radius: 3px;
  margin-left: auto;
  width: 260px;
  max-width: 100%;
  img {
    width: 260px;
    max-width: 100%;
    // width: 38px;
    // min-height: 38px;
    object-fit: cover;
    // border: 1px solid gray;
    // display: none;
  }
}

.imgLoaded {
  // display: inline-block;
}

.more_store {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 20px !important;
  line-height: 29px !important;
  color: #8111e8;
  width: 100%;
  max-width: 110px;
}

.shop_in {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 25px !important;
  color: #8111e8;
}

.heading {
  margin-top: 15px;
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 20px !important;
    line-height: 29px !important;
    text-transform: capitalize;
  }
  .heading2 {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 19px !important;
  }
}

//

.boxes {
  display: flex;
  gap: 15px;
  margin: 20px;
  padding: 1px 1px;
  overflow-x: auto;
}

.boxes::-webkit-scrollbar {
  display: none;
}

.box {
  width: 70px;
  //   height: 70px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 25%);
  border-radius: 5px;
  padding: 0 !important;

  svg {
    // margin: 1px 4px;
  }
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 11px !important;
    line-height: 16px !important;
    text-transform: capitalize;
    margin-top: -5px !important;
    margin-bottom: 3px !important;
  }
}

//

.abc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.whole_card {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  width: 330px;
  max-width: -webkit-fill-available;

  //   height: 201px;
  margin: auto;
  position: relative;

  img {
    border-radius: 7px;
    object-fit: cover;
    max-width: 100%;
    width: 500px;
  }
}

.offer-tag {
  min-height: 49px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 123px;
  position: absolute;
  left: -7px;
  top: 11px;
  color: #fff;
  .inline {
    margin: 10px 20px !important;
    position: absolute !important;

    vertical-align: middle !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    display: flex;
  }
}

.purple-offer-tag {
  // background-image: url(../../../assets/svg/purple-card.tag.svg);
  background-image: url("../../../assets/img/resturant/card-tag.svg");
}

.storename {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 18px !important;
  line-height: 22px !important;
  text-transform: capitalize;
  color: #000000;
}

.fash_type {
  display: flex;
  align-items: center;
}

.cafe {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px !important;
  line-height: 16px !important;
  color: #000000;
}
.off-store {
  color: #8900ff !important;
}

//
.tabs .mat-tab-label.mat-tab-label-active {
  background-color: #5e70db;
  opacity: 1 !important;
}
.tabs .mat-ink-bar {
  background-color: #3f51b5 !important;
}

// -----------

.category-section-m {
  /* margin-top: 1%; */
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  background: white;

  .menu-item {
    padding: 5px 2px 5px 2px;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    cursor: pointer;
  }

  .active {
    color: #8500e2;
    border-bottom: 3px solid #8500e2;
  }
}

.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: none !important;
}
