<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <img src="assets/img/chevron_left_black_24dp.svg" alt="" />
        </div>

        <div class="header-details">
            <p class="identity pro-details">Profile Details</p>

        </div>

    </div>
</div>


<div class="container">

    <div class="main">


        <div class="row">



            <!-- <div class="top col col-100">
            <div class="refr">

                <p class="refr-coins">You have 0 Refr coins!</p>
                <p>Refr <img src="assets/img/refr-logo.png" alt=""></p>
            </div>

        </div> -->




            <div class=" col col-100">

                <div class="info-title">

                    <div class="info">
                        <div class="pro-image">
                            <img src="assets/img/profile-icon.png" alt="">
                            <p class="identity pro-pic">Add Profile Picture</p>
                        </div>
                    </div>


                    <div class="title">
                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text">

                        </mat-form-field>

                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text">

                        </mat-form-field>

                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input matInput type="number">

                        </mat-form-field>

                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email">

                        </mat-form-field>

                    </div>

                    <div>
                        <div style="margin-left: 12px;">

                            <h5 class="identity">Gender</h5>
                        </div>

                        <div class="gender">
                            <div class="miss">
                                <input class="inp-type" type="radio" id="female" value="female" name="payment">
                                <label for="female" class="use">Female</label>
                            </div>


                            <div class="miss">

                                <input class="inp-type" type="radio" id="male" value="male" name="payment">
                                <label for="male" style="margin-top: 1px !important;" class="use">Male</label>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="logout">
                    <button mat-raised-button><span class="log">Save Details</span></button>
                </div>




            </div>


        </div>

    </div>

</div>