<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">Profile Details</p>

        </div>

    </div>
</div>


<div class="container">

    <div class="main">


        <div class="row">



            <!-- <div class="top col col-100">
            <div class="refr">

                <p class="refr-coins">You have 0 Refr coins!</p>
                <p>Refr <img src="assets/img/refr-logo.png" alt=""></p>
            </div>

        </div> -->




            <div class=" col col-100">

                <div class="info-title">

                    <div class="info">
                        <div class="pro-image">
                            <svg width="90" height="90" viewBox="0 0 90 90" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="45" cy="45" r="45" fill="#F3F4F6" />
                                <path
                                    d="M34.167 57.125C34.167 53.5582 38.7934 50.6667 44.5003 50.6667C50.2073 50.6667 54.8337 53.5582 54.8337 57.125"
                                    stroke="#14181F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M44.5003 46.7917C48.0672 46.7917 50.9587 43.9002 50.9587 40.3333C50.9587 36.7665 48.0672 33.875 44.5003 33.875C40.9335 33.875 38.042 36.7665 38.042 40.3333C38.042 43.9002 40.9335 46.7917 44.5003 46.7917Z"
                                    stroke="#14181F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                            <p class="identity pro-pic">Add Profile Picture</p>
                        </div>
                    </div>


                    <div class="title">
                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text">

                        </mat-form-field>

                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text">

                        </mat-form-field>

                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input matInput type="number">

                        </mat-form-field>

                        <mat-form-field class="fields" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email">

                        </mat-form-field>

                    </div>

                    <div>
                        <div style="margin-left: 12px;">

                            <h5 class="identity">Gender</h5>
                        </div>

                        <div class="gender">
                            <div class="miss">
                                <input class="inp-type" type="radio" id="female" value="female" name="payment">
                                <label for="female" class="use">Female</label>
                            </div>


                            <div class="miss">

                                <input class="inp-type" type="radio" id="male" value="male" name="payment">
                                <label for="male" style="margin-top: 1px !important;" class="use">Male</label>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="logout">
                    <button mat-raised-button><span class="log">Save Details</span></button>
                </div>




            </div>


        </div>

    </div>

</div>