<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <img src="assets/img/chevron_left_black_24dp.svg" alt="" />
        </div>

        <div class="header-details">
            <p class="identity pro-details">Hottest Deals</p>

        </div>

    </div>
</div>


<div class="content container">
    <div class="main">
        <div class="row">
            <div class="content-1">



                <div class="col col-50 col-sm-100 col-card">


                    <div class="card">
                        <img src="assets/img/hottest-deals/AdobeStock_299695492 (2) 1.png" class="deals-img" alt=""
                            style="width:100%">
                        <div class="container">
                            <h4 class="rest-cafe">Restaurants & Cafes</h4>
                            <p class="earn">Earn upto <img src="assets/img/coin.svg" class="coin" alt=""> 1000</p>
                        </div>
                    </div>


                </div>


            </div>




            <div class="content-1">

                <div class="col col-50 col-sm-100 col-card">

                    <div class="section-2">


                        <div class="card" style="margin-right: 25px;">
                            <img src="assets/img/hottest-deals/electronic.png" class="deals-img" alt=""
                                style="width:100%">
                            <div class="container">
                                <h4 class="secondary-text"><b>Electronics</b></h4>
                                <p class="secondary-earn">Earn upto <img src="assets/img/coin.svg" class="coin" alt="">
                                    800</p>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets/img/hottest-deals/fitnes.png" class="deals-img" alt="" style="width:100%">
                            <div class="container">
                                <h4 class="secondary-text"><b>Fitness</b></h4>
                                <p class="secondary-earn">Earn upto <img src="assets/img/coin.svg" class="coin" alt="">
                                    500</p>
                            </div>
                        </div>

                    </div>

                </div>


            </div>


            <div class="content-1">



                <div class="col col-50 col-sm-100 col-card">


                    <div class="card">
                        <img src="assets/img/hottest-deals/salons.png" class="deals-img" alt="" style="width:100%">
                        <div class="container">
                            <h4 class="rest-cafe"><b>Salons</b></h4>
                            <p class="earn">Earn upto <img src="assets/img/coin.svg" class="coin" alt=""> 1000</p>
                        </div>
                    </div>


                </div>


            </div>




            <div class="content-1">

                <div class="col col-50 col-sm-100 col-card">

                    <div class="section-2">


                        <div class="card" style="margin-right: 25px;">
                            <img src="assets/img/hottest-deals/healthcare.png" class="deals-img" alt=""
                                style="width:100%">
                            <div class="container">
                                <h4 class="secondary-text"><b>Healthcare</b></h4>
                                <p class="secondary-earn">Earn upto <img src="assets/img/coin.svg" class="coin" alt="">
                                    800</p>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets/img/hottest-deals/pet-store.png" class="deals-img" alt=""
                                style="width:100%">
                            <div class="container">
                                <h4 class="secondary-text"><b>Pet Store</b></h4>
                                <p class="secondary-earn">Earn upto <img src="assets/img/coin.svg" class="coin" alt="">
                                    500</p>
                            </div>
                        </div>

                    </div>

                </div>


            </div>


            <div class="content-1">



                <div class="col col-50 col-sm-100 col-card">


                    <div class="card">
                        <img src="assets/img/hottest-deals/fashion.png" class="deals-img" alt="" style="width:100%">
                        <div class="container">
                            <h4 class="rest-cafe"><b>Fashion</b></h4>
                            <p class="earn">Earn upto <img src="assets/img/coin.svg" class="coin" alt=""> 1000</p>
                        </div>
                    </div>


                </div>


            </div>




            <div class="content-1">

                <div class="col col-50 col-sm-100 col-card">

                    <div class="section-2">


                        <div class="card" style="margin-right: 25px;">
                            <img src="assets/img/hottest-deals/spa.png" class="deals-img" alt="" style="width:100%">
                            <div class="container">
                                <h4 class="secondary-text"><b>Spa</b></h4>
                                <p class="secondary-earn">Earn upto <img src="assets/img/coin.svg" class="coin" alt="">
                                    800</p>
                            </div>
                        </div>

                        <div class="card">
                            <img src="assets/img/hottest-deals/gs.png" class="deals-img" alt="" style="width:100%">
                            <div class="container">
                                <h4 class="secondary-text"><b>General Store</b></h4>
                                <p class="secondary-earn">Earn upto <img src="assets/img/coin.svg" class="coin" alt="">
                                    500</p>
                            </div>
                        </div>

                    </div>

                </div>


            </div>




        </div>

    </div>

</div>