<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">Orders</p>

        </div>

    </div>
</div>


<div class="container">
    <div class="main">
        <div class="row">

            <div class="col col-100">

                <div class="ofd-update">
                    <p class="ofd">Out for Delivery</p>
                    <p class="last-update">Last update : Today, 10:04 AM</p>
                </div>

                <div class="day-section">
                    <p class="day">Monday, 18th Apr</p>
                </div>


                <div>
                    <div class="bill">
                        <p class="desc">10:04 AM</p>

                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="bill">
                        <p class="desc">10:04 AM</p>

                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>



                    <div class="next-line">
                        <img class="line" src="../../../assets/img/order-detail/Line 203.svg" alt="">
                    </div>

                </div>

                <div>
                    <p class="ship-detail">Shipment Detail</p>
                    <p class="order-ship">Order ID : 100512163-0573735</p>
                    <p class="order-ship">Order Placed on : 12/09/2022</p>
                    <p class="order-ship">Delivery Partner : Shiprocket</p>
                    <p class="order-ship">AWB Number: #12345678768980</p>
                </div>


            </div>
        </div>
    </div>
</div>