<div class="container">
    <div class="row">
        <div class="col col-100">
            <div>
                <p class="heading">What is the issue with the item ?</p>
            </div>


            <div>
                <p class="select">
                    <!-- <mat-icon>
                        radio_button_unchecked
                    </mat-icon> -->

                    <input id="size-fit" type="radio" name="replace_items">
                    <label for="size-fit" class="size-text">Product damaged, but shipping box OK</label>
                </p>

                <p>
                    <svg width="100%" height="1" viewBox="0 0 330 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="0.5" x2="330" y2="0.5" stroke="black" />
                    </svg>
                </p>

            </div>
            <div>
                <p class="select">


                    <input id="damaged" type="radio" name="replace_items">
                    <label for="damaged" class="size-text">Both product and shipping box damaged</label>
                </p>

                <p>
                    <svg width="100%" height="1" viewBox="0 0 330 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="0.5" x2="330" y2="0.5" stroke="black" />
                    </svg>
                </p>

            </div>
            <div>
                <p class="select">

                    <input id="product" type="radio" name="replace_items">
                    <label for="product" class="size-text">Wrong item was sent</label>
                </p>

                <p>
                    <svg width="100%" height="1" viewBox="0 0 330 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="0.5" x2="330" y2="0.5" stroke="black" />
                    </svg>
                </p>

            </div>
            <div>
                <p class="select">


                    <input id="wrong" type="radio" name="replace_items">
                    <label for="wrong" class="size-text">Item defective, spoilt, expired, or doesnt work</label>


                </p>

                <p>
                    <svg width="100%" height="1" viewBox="0 0 330 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="0.5" x2="330" y2="0.5" stroke="black" />
                    </svg>
                </p>

            </div>
            <div>
                <p class="select">

                    <input id="defective" type="radio" name="replace_items">
                    <label for="defective" class="size-text">Items or parts missing</label>

                    <span class="size-text"></span>
                </p>

                <p>
                    <svg width="100%" height="1" viewBox="0 0 330 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="0.5" x2="330" y2="0.5" stroke="black" />
                    </svg>
                </p>

            </div>


            <div>
                <p class="comments">Comments (optional)</p>
                <p>
                    <input type="textarea" name="" id="">
                </p>

            </div>

            <div class="continue">
                <button mat-button>Continue</button>
            </div>
        </div>
    </div>
</div>