<div class="col col-100">

    <div>
        <div class="header">
            <div class="header-img">

                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
                </svg>
            </div>

            <div class="header-details">
                <p class="identity pro-details">MyCart</p>

            </div>

            <span class="divide"></span>

            <div class="left">
                <div class="coins">
                    <button mat-raised-button matTooltip="Info about the action"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                        <img class="coin-img" src="assets/img/coin.png" alt=""> <span class="coin-number">1222</span>
                    </button>
                </div>
            </div>

        </div>


    </div>
</div>


<div class="container">

    <div class="row">

        <div class="caret col col-100">
            <div class="card1">



                <div class="card-size col col-50 col-sm-80 col-card">



                    <div class="card-box">
                        <div class="card-main">

                            <div class="product-img">
                                <img src="assets/img/cake.jpg" alt="">
                            </div>

                            <div class="prod-content">
                                <p class="prod-name">Product Name</p>
                                <!-- <p class="desc">Description</p> -->
                                <div class="price">
                                    <h5 class="rupee">₹500</h5>
                                    <h5 class="rup">₹300</h5>
                                    <h5 class="off rup">10% off</h5>
                                </div>

                                <div class="prod-btn">
                                    <button mat-icon-button color="primary"
                                        aria-label="Example icon button with a home icon">
                                        <img class="minus" src="assets/img/remove_black_24dp.svg" alt="">
                                    </button>
                                    <span>1</span>
                                    <button mat-icon-button color="primary"
                                        aria-label="Example icon button with a home icon">
                                        <img class=" minus" src="assets/img/add_black_24dp.svg" alt="">
                                    </button>
                                </div>
                            </div>

                            <span class="divide"></span>
                            <div>
                                <img class="close" src="assets/img/close_black_24dp.svg" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="caret col col-100">
            <div class="ship-add" style="margin-top: 10px;">
                <span> Contact Details</span>
            </div>
            <div class="details fullWidth">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text">

                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput type="number">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email address</mat-label>
                    <input matInput type="email">
                </mat-form-field>
            </div>
        </div>


        <div class="caret col col-100">
            <div class="ship-add">
                <div class="ship-change">

                    <span>Shipping Address</span>
                    <button mat-button class="change">Change</button>
                    <!-- <span class="change">Change</span> -->
                </div>




            </div>

            <div class="details fullWidth">
                <mat-form-field appearance="outline">
                    <mat-label>Pin code</mat-label>
                    <input matInput type="number">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Complete address</mat-label>
                    <input matInput type="text">

                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Floor (Optional)</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Nearby landmark (Optional)</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="caret col col-100">
            <div class="ship-add">
                <span>Save Address As</span>

            </div>

            <div class="save-add-btn save-add">

                <button class="home" mat-raised-button matTooltip="Info about the action"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <span>Home</span>
                </button>
                <button class="home" mat-raised-button matTooltip="Info about the action"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <span>Work</span>
                </button>
                <button class="home" mat-raised-button matTooltip="Info about the action"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <span>Other</span>
                </button>
            </div>
        </div>


        <div class="caret col col-100">
            <div class="cashback ship-add">
                <span>
                    Get 5% cashback for recommending this business.
                </span>
            </div>



            <div class="ship-add" style="margin-bottom: 15px;margin-top: 20px;">
                Order Summary
            </div>

            <div class="bill">
                <div class="table">

                    <p class="bill-order">Order Total</p>
                    <p class="bill-order">₹12500.00</p>
                </div>
                <div class="table">

                    <p class="bill-order">Discount</p>
                    <p class="off bill-order">-₹9000.00</p>
                </div>

                <div class="table" style="margin-bottom: 6px;">

                    <p class="bill-order">Delivery Charges</p>
                    <p class="bill-order">₹90.00</p>
                </div>



                <div class="table" (click)="show = !show">

                    <p class="drop-down table bill-order">Other Charges <img
                            src="assets/img/arrow_drop_down_black_24dp.svg" alt="">
                    </p>
                    <p class="bill-order">₹90.00</p>
                </div>
                <div *ngIf="show" class="drop-down-content">


                    <div class="table">

                        <p class="other-charges bill-order">Restaurant Packaging Charges</p>
                        <p class="off bill-order other-charges">₹90.00</p>
                    </div>
                    <div class="table">

                        <p class="other-charges bill-order">Taxes</p>
                        <p class="off bill-order other-charges">₹90.00</p>
                    </div>
                </div>

            </div>


            <div class="pay">
                <div class="refr">
                    <button mat-button><svg class="checkbox" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            fill="#000000">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z" />
                        </svg> Use Refr Cash</button>
                </div>

                <input type="number" class="ent-amount" placeholder="Enter amount">
            </div>

        </div>

        <div class="caret col col-100">
            <div class="payable table">

                <p class="off">Payable Amount</p>
                <p class="off">₹12500.00 </p>
            </div>
        </div>


        <div class="caret col col-100">

            <div class="ship-add" style="margin-bottom: 15px;margin-top:10px;">
                Pay Using
            </div>

            <div class="cash">
                <div class="refr">
                    <input type="radio" id="cod" name="payment" value="cod">
                    <label for="cod" class="use">COD</label>
                </div>
                <div class="refr">
                    <input type="radio" id="online" name="payment" value="online">
                    <label for="online" class="use">Online Payment</label>
                </div>

            </div>


        </div>

        <div class="caret col col-100">
            <div class="ship-add" class="place-order-btn">
                <button class="submit" mat-raised-button>Place Order</button>
            </div>
        </div>
    </div>


</div>