<div class="col col-100">

    <div>
        <div class="header">
            <div class="header-img">

                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
                </svg>
            </div>

            <div class="header-details">
                <p class="identity pro-details">MyCart</p>

            </div>

            <span class="divide"></span>

            <div class="left">
                <div class="coins">
                    <button mat-raised-button matTooltip="Info about the action"
                        aria-label="Button that displays a tooltip when focused or hovered over">

                        <svg class="coin-img" width="18" height="18" viewBox="0 0 18 18" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.00026 15.0454C12.4543 15.0454 15.2544 12.2454 15.2544 8.79128C15.2544 5.3372 12.4543 2.53711 9.00026 2.53711C5.54618 2.53711 2.74609 5.3372 2.74609 8.79128C2.74609 12.2454 5.54618 15.0454 9.00026 15.0454Z"
                                fill="#FECB00" />
                            <path
                                d="M8.87299 13.6362C11.5373 13.6362 13.6972 11.4764 13.6972 8.81208C13.6972 6.14777 11.5373 3.98792 8.87299 3.98792C6.20868 3.98792 4.04883 6.14777 4.04883 8.81208C4.04883 11.4764 6.20868 13.6362 8.87299 13.6362Z"
                                fill="#EFA900" />
                            <path d="M6.50336 6.77167H8.87253V12.5604L5.50586 8.37L6.50336 6.77167Z" fill="#E19100" />
                            <path d="M11.5196 6.83752H9.15039V12.6267L12.5171 8.43586L11.5196 6.83752Z"
                                fill="#E19100" />
                            <path d="M6.50336 6.63165H8.87253V12.1637L5.50586 8.15915L6.50336 6.63165Z"
                                fill="#FECB00" />
                            <path d="M11.4746 6.68292L9.10547 6.68334V12.2154L12.4721 8.21084L11.4746 6.68292Z"
                                fill="#FECB00" />
                            <path d="M10.2749 5.37292L9.28906 6.30418L11.2836 6.30709L10.2749 5.37292Z"
                                fill="#E19100" />
                            <path d="M7.78466 5.37292L6.79883 6.30418L8.79341 6.30709L7.78466 5.37292Z"
                                fill="#E19100" />
                            <path d="M10.2999 5.18292L9.31445 6.11417L11.3086 6.11709L10.2999 5.18292Z"
                                fill="#FECB00" />
                            <path d="M7.78466 5.18292L6.79883 6.11417L8.79341 6.11709L7.78466 5.18292Z"
                                fill="#FECB00" />
                        </svg>


                        <span class="coin-number">1222</span>

                    </button>
                </div>
            </div>

        </div>


    </div>
</div>


<div class="container">

    <div class="row">

        <div class="caret col col-100">
            <div class="card1">



                <div class="card-size col col-50 col-sm-80 col-card">



                    <div class="card-box">
                        <div class="card-main">


                            <div class="prod-content">
                                <p class="prod-name">Product Name</p>
                                <!-- <p class="desc">Description</p> -->
                                <p class="rup">₹300</p>
                                <div class="price">
                                    <!-- <h5 class="rupee">₹500</h5> -->
                                    <!-- <h5 class="off rup">10% off</h5> -->
                                </div>

                                <div class="prod-btn">
                                    <p class="add-remove">
                                        <button mat-icon-button>
                                            <mat-icon> <span class="minus">remove</span> </mat-icon>

                                        </button>


                                        <span>1</span>
                                        <button mat-icon-button>
                                            <mat-icon> <span class="minus">add </span> </mat-icon>
                                        </button>
                                    </p>

                                </div>
                            </div>

                            <div class="product-img">
                                <img src="assets/img/cake.jpg" alt="">
                            </div>

                            <!-- <span class="divide"></span>
                            <div>
                                <mat-icon>close</mat-icon>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="caret col col-100">
            <div class="ship-add" style="margin-top: 10px;">
                <span> Contact Details</span>
            </div>
            <div class="details fullWidth">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text">

                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput type="number">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email address</mat-label>
                    <input matInput type="email">
                </mat-form-field>
            </div>
        </div>


        <div class="caret col col-100">
            <div class="ship-add">
                <div class="ship-change">

                    <span>Shipping Address</span>
                    <button mat-button class="change">Change</button>
                    <!-- <span class="change">Change</span> -->
                </div>




            </div>

            <div class="details fullWidth">
                <mat-form-field appearance="outline">
                    <mat-label>Pin code</mat-label>
                    <input matInput type="number">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Complete address</mat-label>
                    <input matInput type="text">

                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Floor (Optional)</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Nearby landmark (Optional)</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="caret col col-100">
            <div class="ship-add">
                <span>Save Address As</span>

            </div>

            <div class="save-add-btn save-add">

                <button class="home" mat-raised-button matTooltip="Info about the action"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <span>Home</span>
                </button>
                <button class="home" mat-raised-button matTooltip="Info about the action"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <span>Work</span>
                </button>
                <button class="home" mat-raised-button matTooltip="Info about the action"
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <span>Other</span>
                </button>
            </div>
        </div>


        <div class="caret col col-100">
            <div class="cashback ship-add">
                <span>
                    Get 5% cashback for recommending this business.
                </span>
            </div>



            <div class="ship-add" style="margin-bottom: 15px;margin-top: 20px;">
                Order Summary
            </div>

            <div class="bill">
                <div class="table">

                    <p class="bill-order">Order Total</p>
                    <p class="bill-order">₹12500.00</p>
                </div>
                <div class="table">

                    <p class="bill-order">Discount</p>
                    <p class="off bill-order">-₹9000.00</p>
                </div>

                <div class="table" style="margin-bottom: 6px;">

                    <p class="bill-order">Delivery Charges</p>
                    <p class="bill-order">₹90.00</p>
                </div>



                <div class="table" (click)="show = !show">

                    <p class="drop-down table bill-order">Other Charges <mat-icon><span>
                                arrow_drop_down
                            </span></mat-icon>
                    </p>
                    <p class="bill-order">₹90.00</p>
                </div>
                <div *ngIf="show" class="drop-down-content">


                    <div class="table">

                        <p class="other-charges bill-order">Restaurant Packaging Charges</p>
                        <p class="off bill-order other-charges">₹90.00</p>
                    </div>
                    <div class="table">

                        <p class="other-charges bill-order">Taxes</p>
                        <p class="off bill-order other-charges">₹90.00</p>
                    </div>
                </div>

            </div>


            <div class="pay">
                <div class="refr">
                    <button mat-button><svg class="checkbox" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            fill="#000000">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z" />
                        </svg> Use Refr Cash</button>
                </div>

                <input type="number" class="ent-amount" placeholder="Enter amount">
            </div>

        </div>

        <div class="caret col col-100">
            <div class="payable table">

                <p class="off">Payable Amount</p>
                <p class="off">₹12500.00 </p>
            </div>
        </div>


        <div class="caret col col-100">

            <div class="ship-add" style="margin-bottom: 15px;margin-top:10px;">
                Pay Using
            </div>

            <div class="cash">
                <div class="refr">
                    <input type="radio" id="cod" name="payment" value="cod">
                    <label for="cod" class="use">COD</label>
                </div>
                <div class="refr">
                    <input type="radio" id="online" name="payment" value="online">
                    <label for="online" class="use">Online Payment</label>
                </div>

            </div>


        </div>

        <div class="caret col col-100">
            <div class="ship-add" class="place-order-btn">
                <button class="submit" mat-raised-button>Place Order</button>
            </div>
        </div>
    </div>


</div>