<!-- Mobile -->
<div class="d-block d-lg-none">
    <!-- <app-header [type]="4"></app-header> -->
</div>
<!-- Desktop -->
<div class="d-none d-lg-block">
    <!-- <app-header [type]="5"></app-header> -->
</div>

<!-- Mobile view -->
<div class="normal-container my-1 d-block d-lg-none d-md-none">
    <div class="row">
        <div class="col-12">
            <mat-stepper labelPosition="bottom" #stepper style="height: 100px;">
                <mat-step [stepControl]="firstFormGroup">
                    <ng-template matStepLabel>Shop</ng-template>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <ng-template matStepLabel>Reedem</ng-template>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <ng-template matStepLabel>Earn</ng-template>
                </mat-step>
            </mat-stepper>
            <!-- <div class="wrapperBar">
                <div class="moduleText">
                    <div class="module">
                        <div class="circles"></div>
                        <div class="line"></div>
                    </div>
                    <h2>Start</h2>
                </div>
                <div class="moduleText">
                    <div class="module">
                        <div class="circles"></div>
                        <div class="line"></div>
                    </div>
                    <h2>Confirm</h2>
                </div>
                <div class="moduleText">
                    <div class="circles"></div>
                    <h2>Finish</h2>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- Horizontal-card-container mobile -->
<div class="horizontal-card-container d-block d-md-none">
    <div class="normal-container my-1">
        <div class="row">
            <div class="col-2 my-auto">
                <img class="shop-img"
                    src="https://images-platform.99static.com//lfc7hz9ix-6i4_41PoRUDGKYebc=/200x0:760x560/fit-in/500x500/99designs-contests-attachments/29/29200/attachment_29200812"
                    width="82%" alt="">
            </div>
            <div class="col-7 my-auto">
                <b>Store Name</b>
                <p class="m-0">Category</p>
            </div>
            <div class="col-3 my-auto textR">
                <p class="text-tertiary m-0">Online store</p>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="col-box">
            <div class="card-img-container"
                style="background-image: url(https://s3-alpha-sig.figma.com/img/8918/6c63/1fc401ced44e96b51728797118cf2f8b?Expires=1650844800&Signature=hK38h3GNyvJz3lj--3~zY-eC848Xh9dRZFSkhSAw4Tu8IK09EazHAmxnPAHNvPOxmck1ikZ9N1tHkIzmh0qr3gj0aNZbiIlA7NeLK9tDCxGPxzShp2ucTf8k1l3pp1hWM0mCRvfq8lHEEPeTtd6mAr842NMYQ3k-eTezdzVH6GChKsHrDxMCbTWdqo4HWZeNGcjcvTppvMAkIfLmjFGQjVW9LcsFfynIfdEpz~gleqS1htkJLtaWq1Bx38S8GNtIJXRc2URxirv8vj7Vx1sYezVWpMxoPX4omiqUco0jGf9lI7yjXOm-HIg2cjMrT3a1yFO79SbEkKkdY~TwN30iZg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);">
            </div>
        </div>
        <div class="col-box">
            <div class="card-img-container"
                style="background-image: url(https://s3-alpha-sig.figma.com/img/8918/6c63/1fc401ced44e96b51728797118cf2f8b?Expires=1650844800&Signature=hK38h3GNyvJz3lj--3~zY-eC848Xh9dRZFSkhSAw4Tu8IK09EazHAmxnPAHNvPOxmck1ikZ9N1tHkIzmh0qr3gj0aNZbiIlA7NeLK9tDCxGPxzShp2ucTf8k1l3pp1hWM0mCRvfq8lHEEPeTtd6mAr842NMYQ3k-eTezdzVH6GChKsHrDxMCbTWdqo4HWZeNGcjcvTppvMAkIfLmjFGQjVW9LcsFfynIfdEpz~gleqS1htkJLtaWq1Bx38S8GNtIJXRc2URxirv8vj7Vx1sYezVWpMxoPX4omiqUco0jGf9lI7yjXOm-HIg2cjMrT3a1yFO79SbEkKkdY~TwN30iZg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);">
            </div>
        </div>
    </div>

    <div class="card-footer">
        <p>Recommended by</p>
        <b>friend</b>
    </div>
</div>

<!-- Horizontal-card-container desktop -->
<div class="horizontal-card-container d-none d-md-block">
    <div class="normal-container my-1">
        <div class="row">
            <div class="col-1 my-auto">
                <img src="https://images-platform.99static.com//lfc7hz9ix-6i4_41PoRUDGKYebc=/200x0:760x560/fit-in/500x500/99designs-contests-attachments/29/29200/attachment_29200812"
                    width="82%" alt="">
            </div>
            <div class="col-7 my-auto">
                <b class="title">Store Name</b>
                <p class="category m-0">Category</p>
            </div>
            <div class="col-4 my-auto textR">
                <p class="text-tertiary m-0">Online store</p>
                <div class="d-flex">
                    <p>Recommended by</p>
                    <b>Friend</b>
                </div>
            </div>
        </div>
    </div>

    <div class="banner"
        style="background-image: url(https://s3-alpha-sig.figma.com/img/1e26/1c0f/4b19b414c3ade201c38f0e47316dce5d?Expires=1650844800&Signature=Rcy~30uTwHToKbO4ifHlNoNODDLKu3RwrJFSbmyW0-QOywb9I4RR0nlALZtrrolpsUhjscXMF1Mf78wCNF4oF4riayjkTxq60nWPdwIFtJsjmA9A7T88GFLfrX2QL~dfZQ-8SqwdORTkVF3~u692fuyBVjTuzmGK00eyJqhNknA~-URF3u0AUQX-KpnRyU7AkBl3HuDs4FuuIoCrYrdbP2xHFxQbjUMf2Kwu8Pyb85kSZ3NhA9AoAzV9etkN5ArbXGjlQXdpEeU4HYkK9dPb6DDlinZScYnzrfKkXQSgxvEKcRH2178jDdP1YKC7GL-nz3rsMwpC2d3BSsw2zm823Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);">
    </div>
</div>

<div class="time-location-container">
    <div class="normal-container">
        <div class="row">
            <div class="col-8">
                <div class="item">
                    <img src="../../../assets/svg/place.svg" class="d-block d-lg-none d-md-none" alt="">
                    <span class="d-none d-lg-block d-md-block">
                        <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M30 13.4545C30 22.3636 16 30 16 30C16 30 2 22.3636 2 13.4545C2 10.4166 3.475 7.5031 6.1005 5.35496C8.72601 3.20681 12.287 2 16 2C19.713 2 23.274 3.20681 25.8995 5.35496C28.525 7.5031 30 10.4166 30 13.4545Z"
                                stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M15.9997 17.2726C18.577 17.2726 20.6663 15.5631 20.6663 13.4544C20.6663 11.3457 18.577 9.63623 15.9997 9.63623C13.4223 9.63623 11.333 11.3457 11.333 13.4544C11.333 15.5631 13.4223 17.2726 15.9997 17.2726Z"
                                stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <a class="my-auto">Andhen South Street</a>
                </div>
                <div class="item">
                    <img src="../../../assets/svg/clock2.svg" class="d-block d-lg-none d-md-none" alt="">
                    <span class="d-none d-lg-block d-md-block">
                        <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16 30C23.732 30 30 23.732 30 16C30 8.26801 23.732 2 16 2C8.26801 2 2 8.26801 2 16C2 23.732 8.26801 30 16 30Z"
                                stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16 7.6001V16.0001L21.6 18.8001" stroke="black" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <span>Mon-Sat: 10am-6pm, Sun closed</span>
                </div>
            </div>
            <div class="col-4 textR my-2">
                <div class="right">
                    <button mat-flat-button class="btn-primary ml-auto">
                        <img src="../../../assets/svg/coin.svg" alt=""> 1000
                    </button>
                </div>
                <!-- <button mat-button class="outline-button">
                    Refr Count <br>
                    <img src="../../../assets/svg/coin.svg" width="18px" alt="">
                    <b> 1000</b>
                </button> -->
            </div>
        </div>

        <div class="row">
            <div class="col-12 social-links">
                <a href="#">
                    <img src="../../../assets/svg/whatsapp.svg" alt="">
                </a>
                <a href="#">
                    <img src="../../../assets/svg/phone.svg" alt="">
                </a>
                <a href="#">
                    <img src="../../../assets/svg/facebook.svg" alt="">
                </a>
                <a href="#">
                    <img src="../../../assets/svg/instagram.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Mobile View -->
<div class="normal-container d-block d-md-none d-lg-none">
    <div class="carousel">
        <div class="cashback-container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="row">
                        <div class="col-2 textR my-auto">
                            <img src="../../../assets/svg/white-money.svg" alt="">
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12">
                                    <h5>Get</h5>
                                </div>
                                <div class="col-12 right-container">
                                    <img src="../../../assets/svg/coin.svg" width="20px" alt="">
                                    <b>200 Cashback</b>
                                    <p>Min Order &#8377; 1000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cashback-container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="row">
                        <div class="col-2 textR my-auto">
                            <img src="../../../assets/svg/white-money.svg" alt="">
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12">
                                    <h5>Get</h5>
                                </div>
                                <div class="col-12 right-container">
                                    <img src="../../../assets/svg/coin.svg" width="20px" alt="">
                                    <b>200 Cashback</b>
                                    <p>Min Order &#8377; 1000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Desktop View -->
<div class="normal-container d-none d-md-block d-lg-block">
    <div class="carousel">
        <div class="cashback-container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="row">
                        <div class="col-2 textR my-auto">
                            <img src="../../../assets/svg/white-money.svg" width="100%" alt="">
                        </div>
                        <div class="col-10 my-auto">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Get</h4>
                                </div>
                                <div class="col-12 right-container">
                                    <b>₹200 Cashback</b>
                                    <p>Min order ₹1000 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cashback-container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="row">
                        <div class="col-2 textR my-auto">
                            <img src="../../../assets/svg/white-money.svg" width="100%" alt="">
                        </div>
                        <div class="col-10 my-auto">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Get</h4>
                                </div>
                                <div class="col-12 right-container">
                                    <b>₹200 Cashback</b>
                                    <p>Min order ₹1000 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="normal-container">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="segment-container">
                <button mat-button (click)="changeSegment('visit-store')"
                    [ngClass]="{'active' : segment === 'visit-store'}">
                    <img [src]="segment === 'visit-store' ? '../../../assets/svg/bucket.svg' : '../../../assets/svg/home.svg'"
                        width="14px" alt=""> Visit Store
                </button>
                <button mat-button (click)="changeSegment('vehical')" [ngClass]="{'active' : segment === 'vehical'}">
                    <img [src]="segment === 'vehical' ? '../../../assets/svg/vehical.svg' : '../../../assets/svg/black-vehical.svg'"
                        width="14px" alt="">
                    Delivery
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Mobile View -->
<div class="normal-container d-block d-lg-none d-md-none">
    <ng-container>
        <div class="row">
            <div class="col-12 textC border-bottom">
                <b>Visit Store & Redeem on Purchase</b>
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="accordion-container">
                    <ul>
                        <li>
                            <div class="border-bottom" (click)="showAccordion('about-the-store')">
                                <mat-icon>{{isAccordianOpen('about-the-store') ? 'expand_less' : 'expand_more'}}
                                </mat-icon>
                                <h2>About the Store</h2>
                                <div class="accordian-header-description">
                                    Lorem ipsum dolor sit amet, consectetur .
                                </div>
                            </div>
                            <ng-container *ngIf="isAccordianOpen('about-the-store')">
                                <p>Using the sibling and checked selectors, we can determine the styling of sibling
                                    elements
                                    based on the checked state of the checkbox input element. One use, as demonstrated
                                    here,
                                    is
                                    an entirely CSS and HTML accordion element. Media queries are used to make the
                                    element
                                    responsive to different screen sizes.</p>
                            </ng-container>
                        </li>
                        <li>
                            <div class="border-bottom" (click)="showAccordion('highlights')">
                                <mat-icon>{{isAccordianOpen('highlights') ? 'expand_less' : 'expand_more'}}</mat-icon>
                                <h2>Highlights/user tips</h2>
                                <div class="accordian-header-description">
                                    Lorem ipsum dolor sit amet, consectetur .
                                </div>
                            </div>
                            <ng-container *ngIf="isAccordianOpen('highlights')">
                                <p>By making the open state default for when :checked isn't detected, we can make this
                                    system
                                    accessable for browsers that don't recognize :checked. The fallback is simply an
                                    open
                                    accordion. The accordion can be manipulated with Javascript (if needed) by changing
                                    the
                                    "checked" property of the input element.</p>
                            </ng-container>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<!-- Desktop View -->
<ng-container>
    <div class="normal-container d-none d-lg-block d-md-block">
        <div class="row">
            <div class="col-12 textC">
                <b style="font-size: 22px;padding-bottom: 10px!important;">Visit Store & Redeem on Purchase</b>
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="accordion-container">
                    <ul>
                        <li>
                            <div (click)="showAccordion('about-the-store')">
                                <mat-icon>{{isAccordianOpen('about-the-store') ? 'expand_less' : 'chevron_right'}}
                                </mat-icon>
                                <h2>About the Store</h2>
                                <div class="accordian-header-description">
                                    Lorem ipsum dolor sit amet, consectetur .
                                </div>
                            </div>
                            <ng-container *ngIf="isAccordianOpen('about-the-store')">
                                <p>Using the sibling and checked selectors, we can determine the styling of sibling
                                    elements
                                    based on the checked state of the checkbox input element. One use, as demonstrated
                                    here,
                                    is
                                    an entirely CSS and HTML accordion element. Media queries are used to make the
                                    element
                                    responsive to different screen sizes.</p>
                            </ng-container>
                        </li>
                        <li>
                            <div (click)="showAccordion('highlights')">
                                <mat-icon>{{isAccordianOpen('highlights') ? 'expand_less' : 'chevron_right'}}</mat-icon>
                                <h2>Highlights/user tips</h2>
                                <div class="accordian-header-description">
                                    Lorem ipsum dolor sit amet, consectetur .
                                </div>
                            </div>
                            <ng-container *ngIf="isAccordianOpen('highlights')">
                                <p>By making the open state default for when :checked isn't detected, we can make this
                                    system
                                    accessable for browsers that don't recognize :checked. The fallback is simply an
                                    open
                                    accordion. The accordion can be manipulated with Javascript (if needed) by changing
                                    the
                                    "checked" property of the input element.</p>
                            </ng-container>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- Mobile view -->
<ng-container *ngIf="segment === 'vehical'">
    <div class="normal-container d-block d-md-none d-lg-none">
        <div class="row my-2">
            <div class="col-1"></div>
            <div class="col-10">
                <!-- <app-search [type]="3" [placeholder]="'Search for product'"></app-search> -->
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <!-- Desktop view -->
    <div class="normal-container d-none d-md-block d-lg-block">
        <div class="row my-3">
            <div class="col-3"></div>
            <div class="col-6">
                <!-- <app-search [type]="4" [placeholder]="'Search for product'"></app-search> -->
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <!-- Mobile view -->
    <div class="normal-container d-block d-lg-none d-md-none">
        <div class="row">
            <div class="col-12">
                <div class="accordion-container">
                    <ul>
                        <li>
                            <div class="border-bottom" (click)="showAccordion('card1')">
                                <mat-icon>{{isAccordianOpen('card1') ? 'expand_less' : 'expand_more'}}</mat-icon>
                                <h2>Makeup</h2>
                            </div>
                            <div class="collapse" *ngIf="isAccordianOpen('card1')">
                                <div class="accordion-card">
                                    <div class="row">
                                        <div class="col-7 my-auto">
                                            <p class="title">Product Name</p>
                                            <p class="description">Description</p>
                                            <span class="strike-price">
                                                &#8377;500.00
                                            </span>&nbsp;
                                            <span class="price">
                                                &#8377;300.00
                                            </span>&nbsp;
                                            <span class="discount">
                                                10% off
                                            </span>
                                        </div>
                                        <div class="col-5">
                                            <div class="img-container"
                                                style="background-image: url(https://s3-alpha-sig.figma.com/img/8918/6c63/1fc401ced44e96b51728797118cf2f8b?Expires=1650844800&Signature=hK38h3GNyvJz3lj--3~zY-eC848Xh9dRZFSkhSAw4Tu8IK09EazHAmxnPAHNvPOxmck1ikZ9N1tHkIzmh0qr3gj0aNZbiIlA7NeLK9tDCxGPxzShp2ucTf8k1l3pp1hWM0mCRvfq8lHEEPeTtd6mAr842NMYQ3k-eTezdzVH6GChKsHrDxMCbTWdqo4HWZeNGcjcvTppvMAkIfLmjFGQjVW9LcsFfynIfdEpz~gleqS1htkJLtaWq1Bx38S8GNtIJXRc2URxirv8vj7Vx1sYezVWpMxoPX4omiqUco0jGf9lI7yjXOm-HIg2cjMrT3a1yFO79SbEkKkdY~TwN30iZg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);">
                                                <ng-container *ngIf="!showAddToCard">
                                                    <button class="add-to-card-button" mat-button
                                                        (click)="showAndHideAddToCard()">Add</button>
                                                </ng-container>

                                                <ng-container *ngIf="showAddToCard">
                                                    <div class="add-sub-button-container">
                                                        <button class="add-sub-button">
                                                            -
                                                        </button>
                                                        <button class="add-sub-button">1</button>
                                                        <button class="add-sub-button">
                                                            +
                                                        </button>
                                                    </div>
                                                </ng-container>
                                                <img src="../../../assets/svg/heart.svg" alt="" class="heart">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-card">
                                    <div class="row">
                                        <div class="col-7 my-auto">
                                            <p class="title">Product Name</p>
                                            <p class="description">Description</p>
                                            <span class="strike-price">
                                                &#8377;500.00
                                            </span>&nbsp;
                                            <span class="price">
                                                &#8377;300.00
                                            </span>&nbsp;
                                            <span class="discount">
                                                10% off
                                            </span>
                                        </div>
                                        <div class="col-5">
                                            <div class="img-container"
                                                style="background-image: url(https://s3-alpha-sig.figma.com/img/8918/6c63/1fc401ced44e96b51728797118cf2f8b?Expires=1650844800&Signature=hK38h3GNyvJz3lj--3~zY-eC848Xh9dRZFSkhSAw4Tu8IK09EazHAmxnPAHNvPOxmck1ikZ9N1tHkIzmh0qr3gj0aNZbiIlA7NeLK9tDCxGPxzShp2ucTf8k1l3pp1hWM0mCRvfq8lHEEPeTtd6mAr842NMYQ3k-eTezdzVH6GChKsHrDxMCbTWdqo4HWZeNGcjcvTppvMAkIfLmjFGQjVW9LcsFfynIfdEpz~gleqS1htkJLtaWq1Bx38S8GNtIJXRc2URxirv8vj7Vx1sYezVWpMxoPX4omiqUco0jGf9lI7yjXOm-HIg2cjMrT3a1yFO79SbEkKkdY~TwN30iZg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);">
                                                <button class="add-to-card-button" mat-button
                                                    (click)="openBottomSheet()">Add</button>
                                                <img src="../../../assets/svg/heart.svg" alt="" class="heart">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="border-bottom" (click)="showAccordion('skin')">
                                <mat-icon>{{isAccordianOpen('skin') ? 'expand_less' : 'expand_more'}}</mat-icon>
                                <h2>Skin</h2>
                            </div>
                            <ng-container *ngIf="isAccordianOpen('skin')">
                                <p>Using the sibling and checked selectors, we can determine the styling of sibling
                                    elements
                                    based on the checked state of the checkbox input element. One use, as demonstrated
                                    here,
                                    is
                                    an entirely CSS and HTML accordion element. Media queries are used to make the
                                    element
                                    responsive to different screen sizes.</p>
                            </ng-container>
                        </li>
                        <li>
                            <div class="border-bottom" (click)="showAccordion('hair')">
                                <mat-icon>{{isAccordianOpen('hair') ? 'expand_less' : 'expand_more'}}</mat-icon>
                                <h2>Hair</h2>
                            </div>
                            <ng-container *ngIf="isAccordianOpen('hair')">
                                <p>By making the open state default for when :checked isn't detected, we can make this
                                    system
                                    accessable for browsers that don't recognize :checked. The fallback is simply an
                                    open
                                    accordion. The accordion can be manipulated with Javascript (if needed) by changing
                                    the
                                    "checked" property of the input element.</p>
                            </ng-container>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Desktop view -->
    <div class="normal-container d-none d-lg-block d-md-block">
        <div class="row">
            <div class="col-6">
                <div class="accordion-container">
                    <ul>
                        <li>
                            <div class="border-bottom" (click)="showAccordion('card1')">
                                <mat-icon>{{isAccordianOpen('card1') ? 'expand_less' : 'chevron_right'}}</mat-icon>
                                <h2>Makeup</h2>
                            </div>
                            <div class="collapse" *ngIf="isAccordianOpen('card1')">
                                <div class="accordion-card">
                                    <div class="row">
                                        <div class="col-7 my-auto">
                                            <p class="title">Product Name</p>
                                            <p class="price">
                                                Price : ₹12
                                            </p>
                                            <p class="description">Lorem ipsum dolor sit amet, consect adipiscing elit.
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <div class="img-container"
                                                style="background-image: url(https://s3-alpha-sig.figma.com/img/8918/6c63/1fc401ced44e96b51728797118cf2f8b?Expires=1650844800&Signature=hK38h3GNyvJz3lj--3~zY-eC848Xh9dRZFSkhSAw4Tu8IK09EazHAmxnPAHNvPOxmck1ikZ9N1tHkIzmh0qr3gj0aNZbiIlA7NeLK9tDCxGPxzShp2ucTf8k1l3pp1hWM0mCRvfq8lHEEPeTtd6mAr842NMYQ3k-eTezdzVH6GChKsHrDxMCbTWdqo4HWZeNGcjcvTppvMAkIfLmjFGQjVW9LcsFfynIfdEpz~gleqS1htkJLtaWq1Bx38S8GNtIJXRc2URxirv8vj7Vx1sYezVWpMxoPX4omiqUco0jGf9lI7yjXOm-HIg2cjMrT3a1yFO79SbEkKkdY~TwN30iZg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-card">
                                    <div class="row">
                                        <div class="col-7 my-auto">
                                            <p class="title">Product Name</p>
                                            <p class="price">
                                                Price : ₹12
                                            </p>
                                            <p class="description">Lorem ipsum dolor sit amet, consect adipiscing elit.
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <div class="img-container"
                                                style="background-image: url(https://s3-alpha-sig.figma.com/img/8918/6c63/1fc401ced44e96b51728797118cf2f8b?Expires=1650844800&Signature=hK38h3GNyvJz3lj--3~zY-eC848Xh9dRZFSkhSAw4Tu8IK09EazHAmxnPAHNvPOxmck1ikZ9N1tHkIzmh0qr3gj0aNZbiIlA7NeLK9tDCxGPxzShp2ucTf8k1l3pp1hWM0mCRvfq8lHEEPeTtd6mAr842NMYQ3k-eTezdzVH6GChKsHrDxMCbTWdqo4HWZeNGcjcvTppvMAkIfLmjFGQjVW9LcsFfynIfdEpz~gleqS1htkJLtaWq1Bx38S8GNtIJXRc2URxirv8vj7Vx1sYezVWpMxoPX4omiqUco0jGf9lI7yjXOm-HIg2cjMrT3a1yFO79SbEkKkdY~TwN30iZg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="accordion-container">
                    <ul>
                        <li>
                            <div class="border-bottom" (click)="showAccordion('hair')">
                                <mat-icon>{{isAccordianOpen('hair') ? 'expand_less' : 'chevron_right'}}</mat-icon>
                                <h2>Hair</h2>
                            </div>
                            <ng-container *ngIf="isAccordianOpen('hair')">
                                <p>By making the open state default for when :checked isn't detected, we can make this
                                    system
                                    accessable for browsers that don't recognize :checked. The fallback is simply an
                                    open
                                    accordion. The accordion can be manipulated with Javascript (if needed) by changing
                                    the
                                    "checked" property of the input element.</p>
                            </ng-container>
                        </li>
                        <li>
                            <div class="border-bottom" (click)="showAccordion('skin')">
                                <mat-icon>{{isAccordianOpen('skin') ? 'expand_less' : 'chevron_right'}}</mat-icon>
                                <h2>Skin</h2>
                            </div>
                            <div class="collapse" *ngIf="isAccordianOpen('skin')">
                                <div class="accordion-card">
                                    <div class="row">
                                        <div class="col-7 my-auto">
                                            <p class="title">Product Name</p>
                                            <p class="price">
                                                Price : ₹12
                                            </p>
                                            <p class="description">Lorem ipsum dolor sit amet, consect adipiscing elit.
                                            </p>
                                        </div>
                                        <div class="col-5">
                                            <div class="img-container"
                                                style="background-image: url(https://s3-alpha-sig.figma.com/img/8918/6c63/1fc401ced44e96b51728797118cf2f8b?Expires=1650844800&Signature=hK38h3GNyvJz3lj--3~zY-eC848Xh9dRZFSkhSAw4Tu8IK09EazHAmxnPAHNvPOxmck1ikZ9N1tHkIzmh0qr3gj0aNZbiIlA7NeLK9tDCxGPxzShp2ucTf8k1l3pp1hWM0mCRvfq8lHEEPeTtd6mAr842NMYQ3k-eTezdzVH6GChKsHrDxMCbTWdqo4HWZeNGcjcvTppvMAkIfLmjFGQjVW9LcsFfynIfdEpz~gleqS1htkJLtaWq1Bx38S8GNtIJXRc2URxirv8vj7Vx1sYezVWpMxoPX4omiqUco0jGf9lI7yjXOm-HIg2cjMrT3a1yFO79SbEkKkdY~TwN30iZg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<div class="normal-container d-none d-lg-block d-md-block">
    <br><br><br><br><br>
    <br><br><br><br><br>
    <div class="download-app-container">
        <div class="row">
            <div class="col-8">
                <b>Online ordering is only supported on the mobile</b>
                <button mat-button>Download the App</button>
            </div>
            <div class="col-4">
                <img src="../../../assets/svg/mobile-body.svg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Mobile View -->
<div class="normal-container d-block d-md-none d-lg-none" *ngIf="segment === 'vehical'">
    <div class="view-cart-container">
        <div class="row mt-2">
            <div class="col-6 my-auto">
                <p class="title">3 items</p>
                <p class="price">₹100 </p>
            </div>
            <div class="col-6 textR my-auto">
                <img src="../../../assets/svg/bucket.svg" width="18px" alt="">
                <b>View Cart</b>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>