<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <img src="assets/img/chevron_left_black_24dp.svg" alt="" />
        </div>

        <div class="map">
            <img src="assets/img/place.png" alt="">
            <div class="add">
                <div class="address">Address</div>
                <span class="street">C31 area north street </span>
            </div>
        </div>

    </div>
</div>



<div class="container">
    <div class="main">
        <div class="row">
            <div class="search-bar">
                <input type="text" placeholder="Search">
                <span class="material-icons-outlined search-field">
                    search
                </span>
            </div>


            <div class="all-btn">
                <div class="btns">
                    <button mat-button>Television & Large appliances</button>
                    <button mat-button>Accessories</button>


                    <!-- <button mat-button class="right-arrow">
                        <img src="../../../assets/img/screen/right-arrow.png" alt=""></button> -->


                </div>

            </div>

            <div class="box col col-100">
                <div class="banner">

                    <img src="../../../assets/img/electronic/dot.png" class="dot" alt="">
                    <img src="../../../assets/img/electronic/Vector.png" class="small-arrow" alt="">
                    <!-- <img src="../../../assets/img/screen/Vector-1.png" class="large-arrow" alt=""> -->
                    <img src="../../../assets/img/electronic/Vector (3).png" class="zig-zag" alt="">
                    <img src="../../../assets/img/coin.svg" class="f-coin" alt="">

                    <div class="banner-img">

                        <img src="../../../assets/img/electronic/electronics 3d.png" width="220px" alt="">
                    </div>


                    <div class="banner-content">

                        <img class="coin" src="assets/img/coin.png" alt="">

                        <p class="earn-upto">Earn <span>Upto</span> <img class="off-coin" src="assets/img/coin.png"
                                alt=""></p>
                        <p class="off">50%</p>
                        <p class="restaurants">On Electronics</p>

                    </div>


                </div>

            </div>

            <div class="box col col-100">
                <div class="content-1">
                    <div class="col col-50 col-sm-100 col-card">

                        <div class="offer-tag purple-offer-tag">
                            <h6>
                                Get 40%
                            </h6>
                            <p>
                                Upto <img src="../../../assets/img/coin.svg" width="12px" alt=""> 100
                            </p>
                        </div>

                        <div class="card">

                            <img src="../../../assets/img/electronic/Frame 744.png" class="deals-img" alt=""
                                style="width:100%">




                            <div class="container">
                                <h4 class="rest-cafe">Laptop Accessories</h4>
                                <div class="store-type">
                                    <p class="cafe">Shop <span class="off-store cafe">| Offline Store</span></p>
                                    <p class="cafe">Bandra West</p>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


            <div class="box col col-100">
                <div class="content-1">
                    <div class="col col-50 col-sm-100 col-card">

                        <div class="offer-tag purple-offer-tag">
                            <h5 class="inline">
                                Get&nbsp; <span style="font-size: 8px!important;">Upto &nbsp;</span>
                                <img src="../../../assets/img/coin.svg" width="12px" alt=""> &nbsp;100
                            </h5>

                        </div>

                        <div class="card">
                            <img src="../../../assets/img/electronic/unsplash_SYTO3xs06fU.png" class=" deals-img" alt=""
                                style="width:100%">




                            <div class="container">
                                <h4 class="rest-cafe">Laptop Repairs</h4>
                                <div class="store-type">
                                    <p class="cafe">Shop<span class="off-store cafe">| Offline store</span></p>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="box col col-100">
                <div class="content-1">
                    <div class="col col-50 col-sm-100 col-card">

                        <div class="offer-tag purple-offer-tag">
                            <h5 class="inline">
                                Get&nbsp; <span style="font-size: 8px!important;">Upto &nbsp;</span>
                                <img src="../../../assets/img/coin.svg" width="12px" alt=""> &nbsp;100
                            </h5>

                        </div>

                        <div class="card">
                            <img src="../../../assets/img/electronic/Frame 744 (1).png" class="deals-img" alt=""
                                style="width:100%">




                            <div class="container">
                                <h4 class="rest-cafe">ABC Electronics</h4>
                                <div class="store-type">
                                    <p class="cafe">Shop <span class="off-store cafe">| Offline store</span></p>
                                    <p class="cafe">Bandra West</p>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </div>

        <div class="box-1 col col-100 col-sm-100 col-card">
            <div class="card-box" style="margin: 0px !important;">
                <div class="section-card ">

                    <div class="dashboard">
                        <div>
                            <img src="assets/img/home.png" alt="">
                            <p class="home">Home</p>
                        </div>

                        <div>
                            <img src="assets/img/explore.png" alt="">
                            <p class="other-section">Explore</p>
                        </div>

                        <div>
                            <img src="assets/img/Refr.png" alt="">
                            <!-- <p class="other-section">Refr</p> -->
                        </div>

                        <div>
                            <img src="assets/img/wallet.png" alt="">
                            <p class="other-section">Wallet</p>

                        </div>

                        <div>
                            <img src="assets/img/burn.png" alt="">
                            <p class="other-section">Burn</p>

                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>