<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">Settings</p>

        </div>

    </div>
</div>

<div class="container">


    <div class="row">

        <div class="col col-100">
            <div class="main">

                <div>
                    <a class="notify_text">Notification</a>
                    <p class="desc">This will not affect any order updates</p>
                </div>

                <span class="divide"></span>

                <div>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

            </div>
        </div>

        <!-- footer -->





    </div>

</div>