<div class="c_black" style="display: flex; align-items:center; ">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam aspernatur assumenda unde illo error
        debitis, ab dolorem fuga dolores autem eum temporibus officiis. Beatae, necessitatibus nostrum? Voluptas officia
        eum molestiae!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam aspernatur assumenda unde illo error
        debitis, ab dolorem fuga dolores autem eum temporibus officiis. Beatae, necessitatibus nostrum? Voluptas officia
        eum molestiae!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam aspernatur assumenda unde illo error
        debitis, ab dolorem fuga dolores autem eum temporibus officiis. Beatae, necessitatibus nostrum? Voluptas officia
        eum molestiae!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam aspernatur assumenda unde illo error
        debitis, ab dolorem fuga dolores autem eum temporibus officiis. Beatae, necessitatibus nostrum? Voluptas officia
        eum molestiae!</div>

    <span class="divide"></span>

    <button mat-icon-button>
        <mat-icon>close</mat-icon>1
    </button>
</div>



<!-- <div class="container">
    <div class="main">
        <div class="row">

            <div class="col col-100">

                <div class="top">
                    <div class="orders-details">
                        <div>
                            <img class="input-tick" src="assets/img/check_box_black_24dp.svg" alt="">

                        </div>

                        <div>
                            <p class="order-confirm">order confirmed</p>

                        </div>
                        <div>

                            <p class="order-confirm">12/09/2022</p>
                        </div>
                    </div>



                    <div class="orders-details">
                        <div>
                            <img class="input-tick" src="assets/img/check_box_black_24dp.svg" alt="">

                        </div>

                        <div class="shippped">
                            <p class="order-confirm">Shipped</p>

                        </div>
                        <div>

                            <p class="order-confirm">12/09/2022</p>
                        </div>
                    </div>

                    <div class="orders-details">
                        <div>
                            <img class="input-tick" src="assets/img/check_box_black_24dp.svg" alt="">

                        </div>
                        <div class="shippped">
                            <p class="order-confirm">Out for Delivery</p>

                        </div>
                        <div>

                            <p class="order-confirm">12/09/2022</p>
                        </div>
                    </div>

                    <div class="orders-details">
                        <div>
                            <img class="input-tick" src="assets/img/check_box_black_24dp.svg" alt="">

                        </div>

                        <div class="shippped">
                            <p class="order-confirm">Arriving</p>

                        </div>
                        <div>

                            <p class="order-confirm">12/09/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->