.orders-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-tick {
  // width: 30px;
  // height: 30px;
  //   background: #6c63d0;
}

ul {
  text-decoration: none;
}
