<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">Manage Address</p>

        </div>

    </div>
</div>

<div class="container">

    <div class="main">


        <div class="row">



            <div class="col col-100">
                <div class="save-add">

                    <p class="saved">Saved Addresses</p>
                    <button mat-button class="saved add-address">+ Add Address</button>
                </div>
            </div>


            <div class="col col-100">
                <p class="deliver">Deliver to</p>
            </div>

            <div class="col col-100">
                <div class="deliver-to">
                    <div class="deliver-img">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z"
                                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M9 22V12H15V22" stroke="black" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </div>
                    <div class="deliver-text">
                        <p class="text">HOME</p>
                    </div>
                </div>

                <div class="add-text">
                    <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolor earum
                        blanditiis
                        reiciendis
                        recusandae laudantium tempore qui, sunt officia non, nobis reprehenderit nostrum corporis soluta
                        quae, sapiente aut inventore repudiandae.</p>

                    <div>
                        <mat-icon>

                            <svg class="edit-option" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 13.3333H14" stroke="#874BF9" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M11 2.33333C11.2652 2.06811 11.6249 1.91911 12 1.91911C12.1857 1.91911 12.3696 1.95569 12.5412 2.02676C12.7128 2.09783 12.8687 2.202 13 2.33333C13.1313 2.46465 13.2355 2.62055 13.3066 2.79213C13.3776 2.96371 13.4142 3.14761 13.4142 3.33333C13.4142 3.51904 13.3776 3.70294 13.3066 3.87452C13.2355 4.0461 13.1313 4.202 13 4.33333L4.66667 12.6667L2 13.3333L2.66667 10.6667L11 2.33333Z"
                                    stroke="#874BF9" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </mat-icon>



                    </div>
                </div>
            </div>


            <div class="col col-100">
                <div class="deliver-to">
                    <div class="deliver-img">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20 7H4C2.89543 7 2 7.89543 2 9V19C2 20.1046 2.89543 21 4 21H20C21.1046 21 22 20.1046 22 19V9C22 7.89543 21.1046 7 20 7Z"
                                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M16 21V5C16 4.46957 15.7893 3.96086 15.4142 3.58579C15.0391 3.21071 14.5304 3 14 3H10C9.46957 3 8.96086 3.21071 8.58579 3.58579C8.21071 3.96086 8 4.46957 8 5V21"
                                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </div>
                    <div class="deliver-text">
                        <p class="text">WORK</p>
                    </div>
                </div>

                <div class="add-text">
                    <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolor earum
                        blanditiis
                        reiciendis
                        recusandae laudantium tempore qui, sunt officia non, nobis reprehenderit nostrum corporis soluta
                        quae, sapiente aut inventore repudiandae.</p>

                    <div>
                        <mat-icon>

                            <svg class="edit-option" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 13.3333H14" stroke="#874BF9" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M11 2.33333C11.2652 2.06811 11.6249 1.91911 12 1.91911C12.1857 1.91911 12.3696 1.95569 12.5412 2.02676C12.7128 2.09783 12.8687 2.202 13 2.33333C13.1313 2.46465 13.2355 2.62055 13.3066 2.79213C13.3776 2.96371 13.4142 3.14761 13.4142 3.33333C13.4142 3.51904 13.3776 3.70294 13.3066 3.87452C13.2355 4.0461 13.1313 4.202 13 4.33333L4.66667 12.6667L2 13.3333L2.66667 10.6667L11 2.33333Z"
                                    stroke="#874BF9" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </mat-icon>
                    </div>
                </div>
            </div>

            <div class="col col-100">
                <div class="deliver-to">
                    <div class="deliver-img">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 7.61305 3.94821 5.32387 5.63604 3.63604C7.32387 1.94821 9.61305 1 12 1C14.3869 1 16.6761 1.94821 18.364 3.63604C20.0518 5.32387 21 7.61305 21 10Z"
                                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
                                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </div>
                    <div class="deliver-text">
                        <p class="text">OTHER</p>
                    </div>
                </div>

                <div class="add-text">
                    <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolor earum
                        blanditiis
                        reiciendis
                        recusandae laudantium tempore qui, sunt officia non, nobis reprehenderit nostrum corporis soluta
                        quae, sapiente aut inventore repudiandae.</p>

                    <div>
                        <mat-icon>

                            <svg class="edit-option" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 13.3333H14" stroke="#874BF9" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M11 2.33333C11.2652 2.06811 11.6249 1.91911 12 1.91911C12.1857 1.91911 12.3696 1.95569 12.5412 2.02676C12.7128 2.09783 12.8687 2.202 13 2.33333C13.1313 2.46465 13.2355 2.62055 13.3066 2.79213C13.3776 2.96371 13.4142 3.14761 13.4142 3.33333C13.4142 3.51904 13.3776 3.70294 13.3066 3.87452C13.2355 4.0461 13.1313 4.202 13 4.33333L4.66667 12.6667L2 13.3333L2.66667 10.6667L11 2.33333Z"
                                    stroke="#874BF9" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>