.main {
  background: #fff;
  margin-top: 2px;
  //   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.header {
  display: flex;
  padding-top: 10px;
  padding-bottom: 2px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.header-details {
  display: flex;
  justify-content: center;
  // text-align: center;
  width: 100%;
  margin-right: 10%;
}

.header-img {
  margin-left: 7%;
}

.pro-details {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 23px !important;
  margin-bottom: 0px !important;
  color: #000000;
}

//

.save-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  box-shadow: 1px 1px rgb(0 0 0 / 25%);
}

.saved {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px !important;
  line-height: 18px !important;

  color: #000000;
}

.add-address {
  color: #874bf9;
}

//

.deliver {
  color: #5c5c5c;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

//
.deliver-to {
  display: flex;
  margin-left: 14px;
}

.text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: capitalize;

  color: #874bf9;
}

//

.add-text {
  background: #f0f0f0;
  border-radius: 4px;
  display: flex;
  // margin-left: 11px;
  // margin-top: 20px;
  margin: 5px;
}

.lorem {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px !important    ;
  line-height: 18px !important  ;
  padding: 5px !important;
  color: rgba(0, 0, 0, 0.5);
}

.edit-option {
  // margin: 20px;
}

@media only screen and (max-width: 767px) {
  .header-img {
    margin-left: 6px;
  }
}
