<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <img src="assets/img/chevron_left_black_24dp.svg" alt="" />
        </div>

        <div class="header-details">
            <p class="identity pro-details">Manage Address</p>

        </div>

    </div>
</div>

<div class="container">

    <div class="main">


        <div class="row">



            <div class="col col-100">
                <div class="save-add">

                    <p class="saved">Saved Addresses</p>
                    <button mat-button class="saved add-address">+ Add Address</button>
                </div>
            </div>


            <div class="col col-100">
                <p class="deliver">Deliver to</p>
            </div>

            <div class="col col-100">
                <div class="deliver-to">
                    <div class="deliver-img">
                        <img src="assets/img/home (1).png" alt="">
                    </div>
                    <div class="deliver-text">
                        <p class="text">HOME</p>
                    </div>
                </div>

                <div class="add-text">
                    <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolor earum
                        blanditiis
                        reiciendis
                        recusandae laudantium tempore qui, sunt officia non, nobis reprehenderit nostrum corporis soluta
                        quae, sapiente aut inventore repudiandae.</p>

                    <div>
                        <img class="edit-option" src="assets/img/edit-3.png" alt="">
                    </div>
                </div>
            </div>


            <div class="col col-100">
                <div class="deliver-to">
                    <div class="deliver-img">
                        <img src="assets/img/briefcase.png" alt="">
                    </div>
                    <div class="deliver-text">
                        <p class="text">WORK</p>
                    </div>
                </div>

                <div class="add-text">
                    <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolor earum
                        blanditiis
                        reiciendis
                        recusandae laudantium tempore qui, sunt officia non, nobis reprehenderit nostrum corporis soluta
                        quae, sapiente aut inventore repudiandae.</p>

                    <div>
                        <img class="edit-option" src="assets/img/edit-3.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col col-100">
                <div class="deliver-to">
                    <div class="deliver-img">
                        <img src="assets/img/map-pin.png" alt="">
                    </div>
                    <div class="deliver-text">
                        <p class="text">OTHER</p>
                    </div>
                </div>

                <div class="add-text">
                    <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolor earum
                        blanditiis
                        reiciendis
                        recusandae laudantium tempore qui, sunt officia non, nobis reprehenderit nostrum corporis soluta
                        quae, sapiente aut inventore repudiandae.</p>

                    <div>
                        <img class="edit-option" src="assets/img/edit-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>