<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">Orders</p>

        </div>

    </div>
</div>

<div class="col col-100">
    <div class="space-bet">
    </div>
</div>

<div class="col col-100" style="background-color: white;">

    <div class="ord-detail ">
        <div class="list">
            <div>

                <img src="assets/img/chevron_left_black_24dp.svg" alt="" />
            </div>

            <div class="">
                <p class="od">Order Details</p>

            </div>

        </div>

    </div>
</div>

<div class="col col-100">
    <div class="space-bet">
    </div>
</div>




<div class="container">

    <div class="main">

        <div class="row">

            <div class="order-summary">
                <div>
                    <p class="order-date">order date</p>
                    <p class="date">12/09/2022</p>
                </div>
                <div>
                    <p class="order-date">order total</p>
                    <p class="pricing">₹ 2000</p>
                </div>
            </div>

            <div class="order-id">
                <p class="order-date">order id</p>
                <p class="date">100512163-0573735</p>
            </div>

        </div>
    </div>

</div>

<div class="col col-100">
    <div class="space">
    </div>
</div>

<div class="container">
    <div class="main">
        <div class="row">

            <div class="col col-100">

                <div class="top">
                    <div class="orders-details">
                        <div>


                            <mat-icon class="checked">checkbox</mat-icon>

                        </div>

                        <div>
                            <p class="order-confirm">order confirmed</p>

                        </div>
                        <div>

                            <p class="order-confirm">12/09/2022</p>
                        </div>
                    </div>

                    <div class="vl"></div>

                    <div class="orders-details">
                        <div>
                            <mat-icon class="checked">checkbox</mat-icon>

                        </div>

                        <div class="shippped">
                            <p class="order-confirm">Shipped</p>

                        </div>
                        <div>

                            <p class="order-confirm">12/09/2022</p>
                        </div>
                    </div>

                    <div class="vl-2"></div>

                    <div class="orders-details">
                        <div>
                            <mat-icon class="unchecked">check_box_outline_blank</mat-icon>

                        </div>

                        <div class="shippped">
                            <p class="order-confirm">Out for Delivery</p>

                        </div>
                        <div>

                            <p class="order-confirm">12/09/2022</p>
                        </div>
                    </div>

                    <div class="vl-3"></div>

                    <div class="orders-details">
                        <div>
                            <mat-icon class="unchecked">check_box_outline_blank</mat-icon>

                        </div>

                        <div class="shippped">
                            <p class="order-confirm">Arriving</p>

                        </div>
                        <div>

                            <p class="order-confirm">12/09/2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col col-100">
    <div class="space">
    </div>
</div>


<div class="container">
    <div class="main">
        <div class="row">
            <div class="top">

                <div>
                    <p class="pay-info">Payment Information</p>
                    <p class="pay-method">PAYMENT METHOD</p>
                    <p class="master">MasterCard ending in 3740</p>
                    <p class="pay-method">BILLING ADDRESS</p>
                    <p class="pay-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore
                        et dolore magna
                        aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col col-100">
    <div class="space">
    </div>
</div>

<div class="container">
    <div class="main">
        <div class="row">
            <div class="top">

                <div>

                    <p class="pay-method">SHIPPING ADDRESS ADDRESS</p>
                    <p class="pay-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore
                        et dolore magna
                        aliqua.</p>
                    <p class="pay-desc">9040387536</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col col-100">
    <div class="space">
    </div>
</div>

<div class="container">
    <div class="main">
        <div class="row">

            <div class="top">
                <div>
                    <p class="order-summ">ORDER SUMMARY </p>
                </div>

                <div class="bill top">
                    <div class="table">

                        <p class="bill-order">Order Total</p>
                        <p class="bill-order">₹12500.00</p>
                    </div>


                    <div class="table">

                        <p class="bill-order">Discount</p>
                        <p class="off bill-order">-₹9000.00</p>
                    </div>

                    <div class="table">

                        <p class="bill-order">Delivery Charges</p>
                        <p class="bill-order">₹90.00</p>
                    </div>



                    <div class="table">

                        <p class="drop-down table bill-order">Other Charges <img (click)="show = !show"
                                src="assets/img/arrow_drop_down_black_24dp.svg" alt=""></p>
                        <p class="bill-order">₹90.00</p>
                    </div>
                    <div *ngIf="show" class="drop-down-content">


                        <div class="table">

                            <p class="other-charges">Restaurant Packaging Charges</p>
                            <p class="other-charges">₹90.00</p>
                        </div>
                        <div class="table">

                            <p class="other-charges">Taxes</p>
                            <p class="other-charges">₹90.00</p>
                        </div>
                    </div>

                    <div class="table">

                        <p class="bill-order">Refr cash used</p>
                        <p class="bill-order">₹90.00</p>
                    </div>

                </div>

            </div>

            <div class="top">

                <div class="col col-100">
                    <div class=" payable table">

                        <p class=" off whole-amount">Payable Amount</p>
                        <p class=" off whole-amount">₹12500.00 </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="col col-100">
    <div class="space">
    </div>
</div>

<div class="container">
    <div class="main">
        <div class="row">
            <div class="top">
                <div class="last">
                    <div class="invoice">

                        <p class="download-invoice">Download Invoice</p>
                        <img src="assets/img/chevron_right_black_24dp.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col col-100">
    <div class="space">
    </div>
</div>

<div class="container">
    <div class="main">
        <div class="row">
            <div class="top">



                <div class="invoice">

                    <div class="last-part">
                        <div>
                            <p class="download-invoice">Need help with your item?</p>
                            <p class="return-replace">Return or Replace items</p>
                            <!-- <p>Eligible through 26 april 2022</p> -->

                        </div>
                        <div>
                            <img src="assets/img/chevron_right_black_24dp.svg" alt="">

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>