.color {
  background: linear-gradient(
    256.86deg,
    rgba(255, 188, 187, 0.56) 4.62%,
    rgba(255, 188, 187, 0.26) 39.82%,
    rgba(255, 188, 187, 0.12) 97.19%
  );

  height: 100vh;
  color: #333;
  // overflow: hidden;
  position: relative;
}

//

.header {
  display: flex;
  align-items: center;
  //   width: 80%;
  padding: 30px 10px;
}

.pay {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: capitalize;

  margin: 0 0 -3px 0;
}

.how_works {
  a {
    span {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      margin-left: 4px !important;
    }
  }
}

.storename {
  margin: 50px 0 0 0;
  text-align: center;
  font-weight: 600;

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px !important;
    line-height: 18px !important;
    text-align: center;
    margin: 15px 0 !important;
  }
  input {
    border: none;
    outline: none;
    background-color: transparent !important;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    width: 70%;
  }
  .input::placeholder {
    color: #999292;
    font-weight: 700;
    font-size: 24px !important;
    background-color: transparent;
    border: none;
    outline: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  mat-form-field {
    border: none;
  }
}

//

.bottompart {
  background: #ffffff;
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  //   height: 200px;
  border-radius: 20px 20px 0 0;
  padding: 20px 15px;
  .xyz {
    display: flex;
    align-items: baseline;
  }
  .abc {
    display: flex;
  }
}

.coins {
  display: flex;
  justify-content: end;
  button {
    height: 26px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(255, 61, 101, 0.6), #ff7250);
    border: none;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 6px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 15px !important;
    font-size: 15px;
    line-height: 22px !important;
  }
}

.big_main {
  display: flex;
  margin: 10px 0 0 0;
  align-items: center;
  .checkbox_refrcash {
    display: flex;
  }
}

.refr_cash {
  font-weight: 500;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #000000;
  display: flex;
  align-items: end;
  //   margin-bottom: 0 !important;
}

.youcan {
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #9b9b9b;
  width: 70%;
  margin-left: 7px !important;
  span {
    color: #874bf9;
  }
}

.input_amnt {
  input {
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    // padding: 10px;
    text-align: center;
    outline: none;
    width: 114px;
    height: 30px;
  }
}

.pay_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  /* height: 65%; */
  margin: 30px 0 0 0;

  button:disabled {
    background-color: lightgray;
    color: darkgray;
  }
  button {
    background: #874bf9;
    color: #ffffff;
    width: 100%;
    border-radius: 5px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 29px !important;
  }
}

//
