<div class="box">
    <div class="heading">
        <p>Update Withdrawl Status</p>
    </div>

    <div class="note">
        <label for="">Note</label>
        <mat-form-field class="example-full-width" appearance="outline">
            <textarea matInput></textarea>
        </mat-form-field>
    </div>

    <div class="status">
        <label for="">Status</label>
        <mat-form-field appearance="outline">
            <mat-select>
                <mat-option *ngFor="let status of statuslist" [value]="status.value">
                    {{status.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="main3">
        <div>
            <button class="cancel" mat-button>Cancel</button>
            <button class="create" mat-button>Save</button>
        </div>
    </div>
</div>