<div class="container">
    <div class="row">
        <div class="col col-100">
            <div class="header">
                <div class="left">
                    <span>9:41</span>
                </div>
                <div class="right">
                    <img class="header-img" src="assets/img/signal_cellular_alt_black_24dp.svg" alt="" />
                    <img class="header-img" src="assets/img/wifi_black_24dp.svg" alt="" />
                    <img class="battery header-img" src="assets/img/battery_full_black_24dp.svg" alt="" />
                </div>
            </div>
        </div>

        <div class="col col-100">
            <div class="account-heading">
                <div class="right">
                    <img class="left-arrow" src="assets/img/arrow_back_black_24dp.svg" alt="" />
                    <img src="assets/img/Group 8430.png" alt="" />
                </div>
                <div class="left">
                    <img src="assets/img/Group 8431.png" alt="" />
                    <img class="bell-icon" src="assets/img/notification.png" alt="" />
                </div>
            </div>
        </div>

        <div class="col col-100">
            <div class="heading">
                <div>
                    <h1 class="heading-name">Hey</h1>
                    <h1 class="heading-name">Rati</h1>
                </div>

                <div class="left">
                    <img src="assets/img/profile-icon.png" alt="" />
                </div>
            </div>
        </div>

        <div class="col col-100">
            <div class="log-line">
                <p class="logged">logged in via 9619566685</p>
                <hr class="line" />
            </div>
        </div>

        <div class="col col-100">
            <div class="order">
                <div class="order-left">
                    <div>
                        <img src="assets/img/myorders.png" alt="" />
                    </div>

                    <div>
                        <h5 class="myorder">My Orders</h5>
                        <p class="desc">
                            Check your orders status (track,return,cancel etc)
                        </p>
                    </div>
                </div>

                <div>
                    <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                </div>
            </div>

            <hr class="lines" />
        </div>

        <div class="col col-100">
            <div class="order">
                <div class="order-left">
                    <div>
                        <img src="assets/img/mywishlist.png" alt="" />
                    </div>

                    <div>
                        <h5 class="myorder">My Wishlist</h5>
                        <p class="desc">Buy from items saved in Wishlist</p>
                    </div>
                </div>

                <div>
                    <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                </div>
            </div>

            <hr class="lines" />
        </div>
        <div class="col col-100">
            <div class="order">
                <div class="order-left">
                    <div>
                        <img src="assets/img/mywishlist.png" alt="" />
                    </div>

                    <div>
                        <h5 class="myorder">Manage addresses</h5>
                        <p class="desc">Manage your saved address</p>
                    </div>
                </div>

                <div>
                    <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                </div>
            </div>

            <hr class="lines" />
        </div>

        <div class="col col-100">
            <div class="order">
                <div class="order-left">
                    <div>
                        <img src="assets/img/mywishlist.png" alt="" />
                    </div>

                    <div>
                        <h5 class="myorder">Payment settings</h5>
                        <p class="desc">Payment modes & Transaction history</p>
                    </div>
                </div>

                <div>
                    <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                </div>
            </div>

            <hr class="lines" />
        </div>

        <!-- <div class="col col-100">
            <div class="order">
                <div class="order-left">
                    <div>
                        <img src="assets/img/mywishlist.png" alt="" />
                    </div>

                    <div>
                        <h5 class="myorder">Documents</h5>
                        <p class="desc">
                            Quo molestias laboriosam hic fuga laudantium ut laborum placeat.
                        </p>
                    </div>
                </div>

                <div>
                    <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                </div>
            </div>

            <hr class="lines" />
        </div> -->

        <div class="col col-100">
            <div class="order">
                <div class="order-left">
                    <div>
                        <img src="assets/img/mywishlist.png" alt="" />
                    </div>

                    <div>
                        <h5 class="myorder">Profile Details</h5>
                        <p class="desc">
                            Quo molestias laboriosam hic fuga laudantium ut laborum placeat.
                        </p>
                    </div>
                </div>

                <div>
                    <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                </div>
            </div>

            <hr class="lines" />
        </div>

        <div class="col col-100">
            <div class="order">
                <div class="order-left">
                    <div>
                        <img src="assets/img/mywishlist.png" alt="" />
                    </div>

                    <div>
                        <h5 class="myorder">Customer support</h5>
                        <p class="desc">Have an issue ? Chat with us</p>
                    </div>
                </div>

                <div>
                    <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                </div>
            </div>

            <hr class="lines" />
        </div>

        <div class="col col-100">
            <div class="order">
                <div class="order-left">
                    <div>
                        <img src="assets/img/mywishlist.png" alt="" />
                    </div>

                    <div>
                        <h5 class="myorder">General Information</h5>
                        <p class="desc">Privacy Policy, Terms & Conditions</p>
                    </div>
                </div>

                <div>
                    <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                </div>
            </div>

            <hr class="lines" />
        </div>

        <div class="col col-100">
            <div class="order">
                <div class="order-left">
                    <div>
                        <img src="assets/img/mywishlist.png" alt="" />
                    </div>

                    <div>
                        <h5 class="myorder">Feedback</h5>
                        <p class="desc">
                            Quo molestias laboriosam hic fuga laudantium ut laborum placeat.
                        </p>
                    </div>
                </div>

                <div>
                    <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                </div>
            </div>

            <hr class="lines" />
        </div>

        <div class="col col-100">
            <div class="logout">
                <button mat-raised-button><span class="log">Logout</span></button>
            </div>
        </div>

        <div class="col col-100 col-sm-100 col-card">
            <div class="card-box">
                <div class="section-card ">


                    <div class="dashboard">
                        <img src="assets/img/home.png" alt="">
                        <img src="assets/img/explore.png" alt="">
                        <img src="assets/img/Refr.png" alt="">
                        <img src="assets/img/wallet.png" alt="">
                        <img src="assets/img/burn.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>