<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

    </div>
</div>


<div class="container">

    <div class="main">


        <div class="row">

            <div>
                <mat-tab-group>
                    <mat-tab label="Returns, Replacements and Refunds">
                        Returns, Replacements and Refunds
                    </mat-tab>
                    <mat-tab label="Shipping and Delivery  ">
                        How does the delivery process work?
                    </mat-tab>

                </mat-tab-group>

            </div>


        </div>
    </div>
</div>