.heading {
  float: left;
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 17px !important;
    line-height: 25px !important;
    text-transform: capitalize;

    color: #000000;
  }
  .secondary {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 23px !important;

    color: #000000;
  }
}

.search {
  text-align: center;
  margin: 24px 0;
  input[type="text"] {
    width: 306px;
    height: 37px;
    border-radius: 31px;
    border: 1px solid #000000;
    padding: 7px;
    outline: none;
    position: relative;
    padding: 0 !important;
    padding-left: 18px !important;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 23px !important;
    color: #d1d1d1;
    margin: 15px 0;
  }
  mat-icon {
    position: absolute;
    margin-top: 21px;
    margin-left: -36px;
  }
}

//

.invite_section {
  .section {
    margin: 11px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .mix {
        display: flex;
        align-items: center;
        gap: 15px;
        .profile_img {
          img {
            width: 48px;
            border-radius: 50%;
            border: 1px solid;
            max-width: 100%;
          }
        }
        .names_number {
          .name {
            font-family: "Jost";
            font-style: normal;
            font-weight: 400;
            font-size: 15px !important;
            line-height: 22px !important;

            text-transform: capitalize;
            color: #000000;
          }
          .number {
            font-family: "Jost";
            font-style: normal;
            font-weight: 400;
            font-size: 12px !important;
            line-height: 17px !important;
            text-transform: capitalize;

            color: #000000;
          }
        }
      }
      .invite {
        button {
          background: #8111e8;
          border-radius: 4px;
          width: 60px;
          height: 28px;
          font-family: "Jost";
          font-style: normal;
          font-weight: 500;
          font-size: 11px !important;
          line-height: 16px !important;
          text-align: center;
          text-transform: capitalize;
          color: #ffffff;
          border: none;
        }
      }
    }
  }
}
