<div class="container">
    <div class="row">
        <div class="main">
            <div class="heading">
                <p>Hey, Shraddha</p>
                <p class="secondary">Get your Friends on Refr and earn Rs.50 on every successful referral made</p>
            </div>

            <div class="search">
                <input type="text" placeholder="Search" name="" id="">
                <mat-icon>
                    search
                </mat-icon>
            </div>

            <div class="invite_section">
                <div class="section">
                    <div class="main">
                        <div class="mix">
                            <div class="profile_img">
                                <img src="https://japanpowered.com/media/images//goku.png" alt="">
                            </div>
                            <div class="names_number">
                                <div class="name">Aditya</div>
                                <div class="number">123456789</div>
                            </div>

                        </div>
                        <div class="invite">
                            <button>Invite</button>
                        </div>
                    </div>
                    <div class="main">
                        <div class="mix">
                            <div class="profile_img">
                                <img src="https://japanpowered.com/media/images//goku.png" alt="">
                            </div>
                            <div class="names_number">
                                <div class="name">Aryan</div>
                                <div class="number">123456789</div>
                            </div>

                        </div>
                        <div class="invite">
                            <button>Invite</button>
                        </div>
                    </div>
                    <div class="main">
                        <div class="mix">
                            <div class="profile_img">
                                <img src="https://japanpowered.com/media/images//goku.png" alt="">
                            </div>
                            <div class="names_number">
                                <div class="name">Ashish</div>
                                <div class="number">123456789</div>
                            </div>

                        </div>
                        <div class="invite">
                            <button>Invite</button>
                        </div>
                    </div>
                    <div class="main">
                        <div class="mix">
                            <div class="profile_img">
                                <img src="https://japanpowered.com/media/images//goku.png" alt="">
                            </div>
                            <div class="names_number">
                                <div class="name">Dipesh</div>
                                <div class="number">123456789</div>
                            </div>

                        </div>
                        <div class="invite">
                            <button>Invite</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>