<div class="container">
    <div class="row">


        <div class="col col-25 col-sm-100 col-card">

            <div class="card-box">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium explicabo, fuga
                beatae adipisci officiis qui delectus sed quaerat tempora debitis enim quisquam sapiente molestias
                incidunt voluptatum, quae, libero cupiditate maxime!</div>

            <button mat-button (click)="cart()">Cart</button>

        </div>

        <div class="col col-25 col-sm-100 col-card">

            <div class="card-box">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium explicabo, fuga
                beatae adipisci officiis qui delectus sed quaerat tempora debitis enim quisquam sapiente molestias
                incidunt voluptatum, quae, libero cupiditate maxime!</div>

            <button mat-button (click)="myprofile()">Myprofile</button>

        </div>

        <div class="col col-25 col-sm-100 col-card">

            <div class="card-box">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium explicabo, fuga
                beatae adipisci officiis qui delectus sed quaerat tempora debitis enim quisquam sapiente molestias
                incidunt voluptatum, quae, libero cupiditate maxime!</div>

            <button mat-button (click)="manageaddress()">ManageAddress</button>

        </div>

        <div class="col col-25 col-sm-100 col-card">

            <div class="card-box">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium explicabo, fuga
                beatae adipisci officiis qui delectus sed quaerat tempora debitis enim quisquam sapiente molestias
                incidunt voluptatum, quae, libero cupiditate maxime!</div>

            <button mat-button (click)="addaddress()">add-address</button>

        </div>

        <div class="col col-25 col-sm-100 col-card">

            <div class="card-box">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium explicabo, fuga
                beatae adipisci officiis qui delectus sed quaerat tempora debitis enim quisquam sapiente molestias
                incidunt voluptatum, quae, libero cupiditate maxime!</div>

            <button mat-button (click)="productpage()">productpage</button>

        </div>

        <div class="col col-25 col-sm-100 col-card">

            <div class="card-box">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium explicabo, fuga
                beatae adipisci officiis qui delectus sed quaerat tempora debitis enim quisquam sapiente molestias
                incidunt voluptatum, quae, libero cupiditate maxime!</div>

            <button mat-button (click)="loginPage()">login-Signup</button>

        </div>

        <div class="col col-25 col-sm-100 col-card">

            <div class="card-box">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium explicabo, fuga
                beatae adipisci officiis qui delectus sed quaerat tempora debitis enim quisquam sapiente molestias
                incidunt voluptatum, quae, libero cupiditate maxime!</div>

            <button mat-button (click)="otp()">otp</button>

        </div>

        <div class="col col-25 col-sm-100 col-card">

            <div class="card-box">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium explicabo, fuga
                beatae adipisci officiis qui delectus sed quaerat tempora debitis enim quisquam sapiente molestias
                incidunt voluptatum, quae, libero cupiditate maxime!</div>

            <button mat-button (click)="refrcash()">refrcash</button>

        </div>

        <div class="col col-25 col-sm-100 col-card">

            <div class="card-box">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium explicabo, fuga
                beatae adipisci officiis qui delectus sed quaerat tempora debitis enim quisquam sapiente molestias
                incidunt voluptatum, quae, libero cupiditate maxime!</div>

            <button mat-button (click)="gatewaycard()">GatewayCard</button>

        </div>

    </div>
</div>