<div class="container">
    <div class="row">
        <div class="col col-100">
            <div class="header">


                <div>
                    <img src="../../../assets/img/login/Refr_chatbox_1800x945-02 1.png" alt="">

                </div>

                <span class="divide"></span>


                <button mat-button>
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <div class="login">
                <p class="login-heading">Login <span>or</span> Signup</p>
            </div>

            <div class="details">
                <mat-form-field appearance="outline">
                    <mat-label>Full Name <span class="imp">*</span></mat-label>
                    <input matInput>

                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label> <span class="number">+91|</span> Mobile Number <span class="imp">*</span>
                    </mat-label>
                    <input matInput>

                </mat-form-field>
            </div>

            <div>
                <p class="policy">By continuing, I agree to the <span>Terms of Use</span> & <span>Privacy
                        Policy</span> </p>
            </div>



        </div>

        <div class="col col-100">
            <div>
                <button class="continue" mat-button>CONTINUE</button>
            </div>
        </div>

    </div>
</div>