<!-- Mobile View -->
<ng-container *ngIf="type === 1">
    <form class="example-form d-block d-md-none d-lg-none">
        <div class="search-container">
            <input type="text" name="search" [placeholder]="placeholder" [(ngModel)]="search">
            <mat-icon>search</mat-icon>
        </div>
    </form>
</ng-container>

<!-- Dasktop View -->
<ng-container *ngIf="type === 1">
    <form class="example-form d-none d-md-block d-lg-block">
        <div class="search-md-container">
            <div class="left-container">
                <img src="../../../assets/svg/location.svg" alt="">
                <p class="my-auto">C31 area north street</p>
            </div>
            <div class="right-container">
                <input type="text" name="search" [placeholder]="placeholder" [(ngModel)]="search">
                <mat-icon>search</mat-icon>
            </div>
        </div>
    </form>
</ng-container>

<ng-container *ngIf="type === 2">
    <form class="example-form">
        <div class="search-container">
            <input type="text" name="search" [placeholder]="placeholder" [(ngModel)]="search">
            <mat-icon>search</mat-icon>
        </div>
    </form>
</ng-container>

<ng-container *ngIf="type === 3">
    <form class="example-form">
        <div class="search-container-3">
            <mat-icon>search</mat-icon>
            <input type="text" name="search" [placeholder]="placeholder" [(ngModel)]="search">
        </div>
    </form>
</ng-container>

<ng-container *ngIf="type === 4">
    <form class="example-form">
        <div class="search-container-3">
            <input type="text" name="search" [placeholder]="placeholder" [(ngModel)]="search">
            <mat-icon>search</mat-icon>
        </div>
    </form>
</ng-container>