<div class="col col-100">

    <div class="header">
        <a class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </a>

        <div class="header-details">
            <p class="identity pro-details">Notifications</p>

        </div>

    </div>
</div>


<div class="payment col col-100">
    <div class="content">
        <p class="date-year">Today</p>
    </div>


</div>

<div class="container">

    <div class="main">

        <div class="row">

            <div class="col col-100 col-sm-100 col-card ">
                <div class="card-box">
                    <div class="cashback-section">
                        <div>
                            <img src="../../../assets/img/notifications/Frame 688.png" alt="">
                        </div>
                        <div>
                            <p class="cashback-recived">Cashback received of ₹200</p>
                            <p class="time">3 Apr, 4:07 PM</p>
                        </div>
                        <span class="divide"></span>
                        <div>
                            <p class="price">₹200</p>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col col-100 col-sm-100 col-card ">
                <div class="card-box">
                    <div class="cashback-section">
                        <div>
                            <img src="../../../assets/img/notifications/Frame 688.png" alt="">
                        </div>
                        <div>
                            <p class="cashback-recived">Cashback received of ₹200</p>
                            <p class="time">3 Apr, 4:07 PM</p>
                        </div>
                        <span class="divide"></span>
                        <div>
                            <p class="price">₹200</p>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col col-100 col-sm-100 col-card ">
                <div class="card-box">
                    <div class="cashback-section">
                        <div>
                            <img src="../../../assets/img/notifications/chat.png" alt="">
                        </div>
                        <div>
                            <p class="cashback-recived">Purchase made from wallet of Rs 250 for order
                                #Q457</p>
                            <p class="time">3 Apr, 4:07 PM</p>
                        </div>
                        <span class="divide"></span>
                        <!-- <div>
                            <p class="price">₹200</p>
                            <p class="transaction-mod">Transaction mod</p>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col col-100 col-sm-100 col-card ">
                <div class="card-box">
                    <div class="cashback-section">
                        <div>
                            <img src="../../../assets/img/notifications/add.png" alt="">
                        </div>
                        <div>
                            <p class="cashback-recived">Your order #Q2564 has been placed with store</p>
                            <p class="time">3 Apr, 4:07 PM</p>
                        </div>
                        <span class="divide"></span>
                        <!-- <div>
                                        <p class="price">₹200</p>
                                        <p class="transaction-mod">Transaction mod</p>
                                    </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="payment col col-100">
    <div class="content">
        <p class="date-year">Date</p>
    </div>
</div>

<div class="container">

    <div class="main">

        <div class="row">
            <div class="col col-100 col-sm-100 col-card ">
                <div class="card-box">
                    <div class="cashback-section">
                        <div>
                            <img src="../../../assets/img/notifications/Frame 688.png" alt="">
                        </div>
                        <div>
                            <p class="cashback-recived">Cashback received of ₹200</p>
                            <p class="time">3 Apr, 4:07 PM</p>
                        </div>
                        <span class="divide"></span>
                        <div>
                            <p class="price">₹200</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-100 col-sm-100 col-card ">
                <div class="card-box">
                    <div class="cashback-section">
                        <div>
                            <img src="../../../assets/img/notifications/add.png" alt="">
                        </div>
                        <div>
                            <p class="cashback-recived">Item added to cart</p>
                            <p class="time">3 Apr, 4:07 PM</p>
                        </div>
                        <span class="divide"></span>

                    </div>
                </div>
            </div>


            <div class="col col-100 col-sm-100 col-card ">
                <div class="card-box">
                    <div class="cashback-section">
                        <div>
                            <img src="../../../assets/img/notifications/Frame 688.png" alt="">
                        </div>
                        <div>
                            <p class="cashback-recived">Notification Details</p>
                            <p class="time">3 Apr, 4:07 PM</p>
                        </div>
                        <span class="divide"></span>
                        <div>
                            <p class="price">₹200</p>
                            <!-- <p class="transaction-mod">Transaction mode</p> -->
                        </div>

                    </div>
                </div>
            </div>

            <div class="col col-100 col-sm-100 col-card ">
                <div class="card-box">
                    <div class="cashback-section">
                        <div>
                            <img src="../../../assets/img/notifications/dialog-rup.png" alt="">
                        </div>
                        <div>
                            <p class="cashback-recived">Rs 200 added to the wallet</p>
                            <p class="time">3 Apr, 4:07 PM</p>
                        </div>
                        <span class="divide"></span>
                        <div>
                            <p class="price">₹200</p>
                            <!-- <p class="transaction-mod">Transaction mode</p> -->
                        </div>

                    </div>
                </div>
            </div>



            <div class="col col-100 col-sm-100 col-card ">
                <div class="card-box">
                    <div class="cashback-section">
                        <div>
                            <img src="../../../assets/img/notifications/dialog-rup.png" alt="">
                        </div>
                        <div>
                            <p class="cashback-recived">Money on hold for order #2564</p>
                            <p class="time">3 Apr, 4:07 PM</p>
                        </div>
                        <span class="divide"></span>
                        <div>
                            <p class="cut price">₹200</p>
                            <!-- <p class="transaction-mod">Transaction mode</p> -->
                        </div>

                    </div>
                </div>
            </div>

            <div class="col col-100 col-sm-100 col-card ">
                <div class="card-box">
                    <div class="cashback-section">
                        <div>
                            <img src="../../../assets/img/notifications/dialog-rup.png" alt="">
                        </div>
                        <div>
                            <p class="cashback-recived">Money on hold released by store</p>
                            <p class="time">3 Apr, 4:07 PM</p>
                        </div>
                        <span class="divide"></span>
                        <div>
                            <p class="pricing-abt price">₹200</p>
                            <!-- <p class="transaction-mod">Transaction mode</p> -->
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>

</div>