<div class="container">
    <div class="row">
        <div class="main">


            <div class="content-section">
                <div class="content-img">
                    <img class="prod-img" src="assets/img/prod-img-1.png" alt="">
                    <img class="prod-img" src="assets/img/prod-img-1.png" alt="">
                    <img class="prod-img" src="assets/img/prod-img-1.png" alt="">
                    <img class="prod-img" src="assets/img/prod-img-1.png" alt="">

                </div>

                <div class="content">
                    <p class="content-text">Face Primer</p>
                    <p class="content-desc">Lorem ipsum dolor sit amet. A totam repellat ut molestiae odio et omnis
                        voluptas
                        ab <span>Read more</span> </p>
                    <div class="pricing">
                        <p class="cut">Rs.500</p>
                        <p class="price">Rs.450</p>
                        <p class="taxes">(incl.all Taxes)</p>

                    </div>
                    <p class="color">Color: <span>White</span></p>

                    <div class="box-color">
                        <div>
                            <p class="black"></p>
                            <p class="size-text">black</p>

                        </div>
                        <div>
                            <p class="red"></p>
                            <p class="size-text">red</p>

                        </div>

                        <div>
                            <p class="orange"></p>
                            <p class="size-text">Violet</p>

                        </div>

                        <div>
                            <p class="gry gray"></p>
                            <p class="gry size-text">gray</p>

                        </div>
                    </div>
                </div>

                <div class="size">
                    <div class="prod_size">
                        <p>size: <span>xl</span></p>
                        <div class="sizes">
                            <button class="all_sizes" mat-button>xs</button>
                            <button class="all_sizes" mat-button>s</button>
                            <button class="all_sizes" mat-button>m</button>
                            <button class="all_sizes" mat-button>l</button>
                            <button class="all_sizes" mat-button>xl</button>
                            <button class="all_sizes" mat-button>xxl</button>
                        </div>
                    </div>
                </div>

                <div class="spaces">
                </div>

                <div class="prod_details">
                    <div class="prod_det_heading">
                        <p>Product details</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="main">
        <div class="row">
            <div class="btn-lay">
                <div class="plus-minus">

                    <!-- <div class="input-btn">

                        <button mat-button>
                            <mat-icon>remove</mat-icon>
                        </button>




                        <p class="increase">
                            1
                        </p>


                        <button mat-button>
                            <mat-icon>add</mat-icon>
                        </button>

                    </div> -->

                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1" />
                        <span class="plus">+</span>
                    </div>

                    <div class="add-item">
                        <button mat-button class="item-add">Add item</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>