<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">Orders</p>

        </div>

    </div>
</div>

<div class="container">
    <div class="main">
        <div class="row">
            <div class="col col-100">
                <div class="main-heading">
                    <p>How can we make it right ?</p>
                </div>

                <div class="box">
                    <div class="box1">
                        <p class="exchange1">
                            <mat-icon>
                                radio_button_checked
                            </mat-icon>
                            <span class="second-text">Exchange for different size or color</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>