.box {
  background: #2e186b;

  overflow: hidden;
  height: 520px;
  // height: 100vh;
  // width: 100vw;
}

//

.header {
  margin: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 32px;
}

.x {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  color: #ffffff;
  transform: translate(-3px, 12px);
}

.pic {
  height: 0px;
}

.dheal {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px !important;
  line-height: 29px !important;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-left: 7px !important;
}

//

.second-heading {
  text-align: center;
  margin-left: 8% !important;
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 13px !important;
    line-height: 19px !important;

    text-align: center;

    color: #ffffff;
  }
}

//

.recommend {
  margin-top: -123px;
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 23px !important;
    text-align: center;

    color: #ffffff;
  }
}

.recommends {
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 18px !important;

    text-align: center;

    color: #ffffff;
  }
}

//

.unlimited-cashback {
  // color: #ff37f2 !important;
  // color: linear-gradient(#ff37f2, #fd9372);
  background: -webkit-linear-gradient(#ff37f2, #fd9372);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px !important;
  line-height: 19px !important;
  text-transform: uppercase;
  text-align: center;
  // text-shadow: 4px 0px black;
}

//

.friend-recommed {
  margin-top: 59px;
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 15px !important;
    line-height: 19px !important;
    text-align: center;

    color: #ffffff;
  }
  .money {
    color: pink;
  }
}

//

.refr-now {
  text-align: center;
  margin-top: 30px;
  button {
    color: #000;
    background: white;
    padding: 6px 28px;
    box-shadow: 4px 4px white;
    border-radius: 0;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
}

//

.speaker {
  position: relative;
  transform: scaleX(-1);
  top: -37px;
  left: -37px;
}

//

// .logo-img {
//   position: relative;
//   top: -482px;
//   left: 223px;
//   transform: translate(219px, -334px);
//   display: inline;
//   position: relative;
//   top: -85px;
//   left: 209px;
//   svg {
//   }
// }

.logo-img {
  margin-left: -9%;
  margin-top: -58px;
  width: 35px;
  height: 64px;
}

// @media screen and (min-width: 768px) {
//   .box {
//     background: #8111e8;
//     overflow: hidden;
//     height: 500px;
//   }
//   .logo-img {
//     position: relative;
//     // margin-left: -12%;
//     margin-top: -10px;
//   }
// }
