<div class="box">
    <div class="main">
        <div class="sections">


            <div class="sn">
                <p>Bank Name</p>
                <p>


                    <input type="text" matInput placeholder="">


                </p>
            </div>
            <div class="sn">
                <p>Account Number</p>
                <p>


                    <input type="number" matInput placeholder="">


                </p>
            </div>

        </div>
        <div class="sections">


            <div class="sn">
                <p>IFSC Code</p>
                <p>


                    <input type="text" matInput placeholder="">


                </p>
            </div>
            <div class="sn">
                <p>Confirm Account Number</p>
                <p>


                    <input type="number" matInput placeholder="">


                </p>
            </div>

        </div>

        <div class="main3">
            <div>
                <button class="cancel" mat-button>Cancel</button>
                <button class="create" mat-button>Update</button>
            </div>
        </div>
    </div>
</div>