<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <img src="assets/img/chevron_left_black_24dp.svg" alt="" />
        </div>

        <div class="header-details">
            <p class="identity pro-details">Customer Support</p>

        </div>

    </div>
</div>

<div class="container">
    <div class="main">


        <div class="row">

            <div class="payment col col-100">
                <div class="main-address-section">

                    <div class="support">

                        <div>


                            <div>
                                <p class="address-section">Help Center</p>
                            </div>
                            <div>
                                <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
                                    sunt
                                    magnam quod ea
                                    dicta, magni distinctio vel aperiam a eveniet soluta maxime perferendis qui, nisi
                                    illo
                                    voluptatem, ullam quam!</p>
                            </div>
                        </div>
                        <div>
                            <img src="assets/img/chevron_right_black_24dp.svg" alt="">
                        </div>
                    </div>


                </div>

                <div>
                    <img class="line" src="assets/img/Line 102.png" alt="">
                </div>
            </div>

            <div class="col col-100">
                <div class="main-address-section">

                    <div class="support">

                        <div>


                            <div>
                                <p class="address-section">Chat with us</p>
                            </div>
                            <div>
                                <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
                                    sunt
                                    magnam quod ea
                                    dicta, magni distinctio vel aperiam a eveniet soluta maxime perferendis qui, nisi
                                    illo
                                    voluptatem, ullam quam!</p>
                            </div>
                        </div>
                        <div>
                            <img src="assets/img/chevron_right_black_24dp.svg" alt="">
                        </div>
                    </div>


                </div>

                <div>
                    <img class="line" src="assets/img/Line 102.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>