<div class="col col-100">
    <div class="header">
        <p>
            <mat-icon>

                arrow_back_ios_new

            </mat-icon>
        </p>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="accessories">
            <p>accessories</p>
            <div class="access-img">
                <a href="/">
                    <img src="../../../assets/img/burn-products/Frame 1042.png" alt="">
                </a>
                <a href="/">
                    <img src="../../../assets/img/burn-products/Frame 1042.png" alt="">
                </a>

            </div>
        </div>

        <div class="col col-100">
            <div class="curated">
                <p>CURATED</p>
                <p>FOR YOU</p>
            </div>
        </div>


        <div class="col col-100">
            <div class="flex-container">

                <div class="curated-for-you">

                    <a href="/" class="card1 curated-card ">
                        <div class="img-curated"
                            style="background-image: url('../../../assets/img/burn-section/curated.png');">
                        </div>
                        <div>
                            <p class="prod-text">Bold Core
                            </p>
                        </div>

                        <div>
                            <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="rupees">
                            <p class="prod-rup">Rs.500</p>
                            <p class="dis-rup">Rs.450</p>
                        </div>

                        <div>
                            <p class="off">83% Off</p>
                        </div>
                    </a>

                </div>
                <div class="right-card curated-for-you">

                    <a href="/" class="card1 curated-card">
                        <div class="img-curated"
                            style="background-image: url('../../../assets/img/burn-section/a.png');">
                        </div>
                        <div>
                            <p class="prod-text">Bold Core</p>
                        </div>

                        <div>
                            <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="rupees">
                            <p class="prod-rup">Rs.500</p>
                            <p class="dis-rup">Rs.450</p>
                        </div>

                        <div>
                            <p class="off">83% Off</p>
                        </div>
                    </a>

                </div>

                <div class="curated-for-you">

                    <a href="/" class="card1 curated-card">
                        <div class="img-curated"
                            style="background-image: url('../../../assets/img/burn-section/curated.png');">
                        </div>
                        <div>
                            <p class="prod-text">Bold Core</p>
                        </div>

                        <div>
                            <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="rupees">
                            <p class="prod-rup">Rs.500</p>
                            <p class="dis-rup">Rs.450</p>
                        </div>

                        <div>
                            <p class="off">83% Off</p>
                        </div>
                    </a>

                </div>
                <div class="right-card curated-for-you">

                    <a href="/" class="card1 curated-card">
                        <div class="img-curated"
                            style="background-image: url('../../../assets/img/burn-section/a.png');">
                        </div>
                        <div>
                            <p class="prod-text">Bold Core</p>
                        </div>

                        <div>
                            <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="rupees">
                            <p class="prod-rup">Rs.500</p>
                            <p class="dis-rup">Rs.450</p>
                        </div>

                        <div>
                            <p class="off">83% Off</p>
                        </div>
                    </a>

                </div>

            </div>

        </div>
    </div>
</div>