<div class="container">
    <div class="row">
        <div class="col col-100">
            <div class="whole">
                <div class="header">
                    <div class="left">
                        <p>7 other stores of Belan</p>
                    </div>
                    <span class="divide"></span>
                    <div class="right">
                        <button mat-icon-button (click)="onNoClick()">
                            <mat-icon>
                                close
                            </mat-icon>
                        </button>
                    </div>
                </div>
                <div class="view_all_loc">
                    <p>View all locations</p>
                </div>

                <div class="locations">
                    <div class="store_loc">
                        <div class="d-flex">
                            <div>
                                <p>Vaibhav, Andheri East</p>
                            </div>
                            <span class="divide"></span>
                            <div>
                                <p>+1234568790</p>
                            </div>
                        </div>
                        <div class="store_address">
                            <p>Andheri South Street</p>
                        </div>
                        <div class="store_address ">
                            <p class="km">0-3 kms</p>
                        </div>
                    </div>

                    <div class="store_loc">
                        <div class="d-flex">
                            <div>
                                <p>Vaibhav, Andheri East</p>
                            </div>
                            <span class="divide"></span>
                            <div>
                                <p>+1234568790</p>
                            </div>
                        </div>
                        <div class="store_address">
                            <p>Andheri South Street</p>
                        </div>
                        <div class="store_address ">
                            <p class="km">0-3 kms</p>
                        </div>
                    </div>

                    <div class="store_loc">
                        <div class="d-flex">
                            <div>
                                <p>Vaibhav, Andheri East</p>
                            </div>
                            <span class="divide"></span>
                            <div>
                                <p>+1234568790</p>
                            </div>
                        </div>
                        <div class="store_address">
                            <p>Andheri South Street</p>
                        </div>
                        <div class="store_address ">
                            <p class="km">0-3 kms</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>