<div class="container">
    <div class="row">
        <div class="col col-100">
            <div class="whole">
                <div class="header">
                    <div class="left">
                        <p>7 other stores of Belan</p>
                    </div>
                    <span class="divide"></span>
                    <div class="right">
                        <button mat-icon-button (click)="onNoClick()">
                            <mat-icon>
                                close
                            </mat-icon>
                        </button>
                    </div>
                </div>
                <div class="view_all_loc">
                    <p>View all locations</p>
                </div>

                <div class="locations">
                    <div class="store_loc">
                        <div class="d-flex">
                            <div>
                                <p>Vaibhav, Andheri East</p>
                            </div>
                            <span class="divide"></span>
                            <div>
                                <a mat-icon-button>
                                    <mat-icon>
                                        pin_drop
                                    </mat-icon>
                                </a>
                            </div>

                        </div>
                        <div class="store_address">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam est vitae incidunt
                                cupiditate quam ea consequatur nemo numquam magnam nihil aut ipsa voluptatibus vero
                                asperiores fugit, deserunt quos libero? Tempore.</p>
                        </div>
                        <div class="contact_number">

                            <a mat-icon-button>
                                <mat-icon>call</mat-icon> +1234568790
                            </a>
                        </div>
                        <!-- <div class="store_address ">
                            <p class="km">0-3 kms</p>
                        </div> -->
                    </div>
                    <div class="store_loc">
                        <div class="d-flex">
                            <div>
                                <p>Vaibhav, Andheri East</p>
                            </div>
                            <span class="divide"></span>
                            <div>
                                <a mat-icon-button>
                                    <mat-icon>
                                        pin_drop
                                    </mat-icon>
                                </a>
                            </div>

                        </div>
                        <div class="store_address">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam est vitae incidunt
                                cupiditate quam ea consequatur nemo numquam magnam nihil aut ipsa voluptatibus vero
                                asperiores fugit, deserunt quos libero? Tempore.</p>
                        </div>
                        <div class="contact_number">

                            <a mat-icon-button>
                                <mat-icon>call</mat-icon> +1234568790
                            </a>
                        </div>
                        <!-- <div class="store_address ">
                                                <p class="km">0-3 kms</p>
                                            </div> -->
                    </div>
                    <div class="store_loc">
                        <div class="d-flex">
                            <div>
                                <p>Vaibhav, Andheri East</p>
                            </div>
                            <span class="divide"></span>
                            <div>
                                <a mat-icon-button>
                                    <mat-icon>
                                        pin_drop
                                    </mat-icon>
                                </a>
                            </div>

                        </div>
                        <div class="store_address">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam est vitae incidunt
                                cupiditate quam ea consequatur nemo numquam magnam nihil aut ipsa voluptatibus vero
                                asperiores fugit, deserunt quos libero? Tempore.</p>
                        </div>
                        <div class="contact_number">

                            <a mat-icon-button>
                                <mat-icon>call</mat-icon> +1234568790
                            </a>
                        </div>
                        <!-- <div class="store_address ">
                                                <p class="km">0-3 kms</p>
                                            </div> -->
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>