<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">How it works</p>

        </div>

    </div>
</div>


<div class="box">
    <div class="container">
        <div class="row">

            <p class="top-img">
                <svg width="43" height="56" viewBox="0 0 43 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 36.5474V0H43V36.5474L21.7529 56L0 36.5474Z" fill="white" />
                    <path
                        d="M20.848 29.932C20.449 30.713 20.116 31.531 19.845 32.379C18.705 29.827 16.736 27.703 13.933 26.112L12.47 28.768L10 22.887L16.33 21.761L14.897 24.362C17.503 25.834 19.49 27.711 20.848 29.932ZM30.067 26.113L31.53 28.768L34 22.887L27.67 21.761L29.103 24.362C23.764 27.379 21 32.082 21 38H23C23 32.856 25.405 28.759 30.067 26.113ZM22.042 14L18 19H21V26.762C21.352 27.171 21.684 27.593 21.991 28.031C22.303 27.588 22.641 27.161 23 26.745V19H26L22.042 14V14Z"
                        fill="#E4778D" />
                </svg>
            </p>

            <div class="align-line">

                <svg width="128" height="182" viewBox="0 0 128 182" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="91" cy="91" r="91" fill="#DE618A" fill-opacity="0.1" />
                    <circle cx="91" cy="91" r="57" fill="#DE618A" fill-opacity="0.15" />
                </svg>


                <div>
                    <p class="main-heading">3 Easy Steps</p>
                    <div class="category">
                        <p>Shop</p>
                        <p>Share</p>
                        <p>Earn</p>

                    </div>

                </div>

            </div>

            <div class="para">
                <p>Refr is a marketplace where shopping is Fun, Interactive and Rewarding. A more connected shopping
                    experience.
                    Here you can discover, shop & send out recommendations for your favourite brands, products &
                    services to your friends,
                    family and followers and help them discover stuff you like..and get rewarded for the same.</p>
            </div>

            <div class="col col-100">
                <div class="line"></div>

            </div>

            <div class="col col-100">
                <div class="shop">
                    <p class="primary-line">SHOP</p>
                    <p class="secondary-line">You take a service or buy a product, either by visiting the store or
                        online through the Refr app.
                    </p>

                </div>

                <div class="shop">
                    <p class="primary-line">SHARE</p>
                    <p class="secondary-line">While checking out, you send a recommendation of the store to your circle
                        on chat or social.
                    </p>

                </div>

                <div class="shop">
                    <p class="primary-line">EARN</p>
                    <p class="secondary-line">You get rewarded with a cashback instantly for doing this.
                        When your friends use your recommendation, they earn a cashback & so do you!
                    </p>

                </div>

                <div class="col col-100">
                    <div class="line"></div>

                </div>

                <div class="shop">
                    <p class="shop-smarter">Shop smarter with Refr</p>
                    <p class="secondary-line">When you receive recommendations from your
                        friends, you discover cool stores around you that are tried & tested by them which minimizes
                        your chances of making a
                        wrong purchase. What can be better than this? You earn higher cashbacks than your friends when
                        you use their
                        recommendations! All these cashbacks are in the form of Refr cash.
                    </p>

                </div>
            </div>



        </div>
    </div>
</div>