<div class="row bg-secondary">

    <div class="col-box">
        <div class="card shadow">
            <div class="card-img-container"
                style="background-image: url(https://d3nn873nee648n.cloudfront.net/900x600/13375/14-SM471903.jpg);">
                <div class="offer-tag">
                    <h6>Get <img src="../../../assets/img/coin.svg" alt=""> 40%</h6>
                </div>
                <div class="tag b_gradient">
                    <span class="material-icons">person_outline</span>
                    <p>Alex John</p>
                </div>
            </div>
            <div class="card-inner">
                <div class="row d-flex">
                    <div class="col-50">
                        <b class="product-title">
                            Grocery Products
                        </b>
                        <div class="sub-text-alignment">
                            <p class="text-muted">Garments </p>
                            <span class="vh-line">|</span>
                            <span class="status">Online Store</span>
                        </div>
                    </div>
                    <div class="col-50 text-end my-auto">
                        <button mat-flat-button class="btn-dark">Get This</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="container">
    <div class="row">
        <button class="get">Get This Now</button>
    </div>
</div>