<div class="container">
    <div class="row">
        <div class="header">
            <div class="headiing">
                <mat-icon class="checked">checkbox</mat-icon>
                <p class="refr-cash">Use Refr Cash</p>

            </div>

            <span class="divide"></span>
            <a class="coin"><img src="../../../assets/img/coin.svg" alt=""><span class="number">5000</span></a>

        </div>

        <div class="col col-100">

            <div class="ent-amount">
                <mat-form-field appearance="outline">
                    <mat-label>Enter Amount</mat-label>
                    <input matInput style="width: 1000%;">

                </mat-form-field>
            </div>

            <div>

                <button class="pay-now" mat-button>PAY NOW</button>

            </div>

        </div>


    </div>
</div>