<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <img src="assets/img/chevron_left_black_24dp.svg" alt="" />
        </div>

    </div>
</div>

<div class="container">
    <div class="main">


        <div class="row">

            <p class="entire">explore entire curation</p>

            <div class="flex-container">




                <div class="col col-20 col-sm-50 col-card">

                    <div class="card-box">
                        <div class="content">

                            <div class="product-image">
                                <img class="prod-img" src="assets/img/burnn.png" alt="">
                            </div>

                            <div class="text">

                                <div>
                                    <p class="prod-text">Face Primer</p>
                                </div>

                                <div>
                                    <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                                </div>

                                <div class="pricing">
                                    <p class="cut">Rs.500</p>
                                    <p class="prod-rup">Rs.450</p>
                                    <p class="off">83% Off</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>



                <div class="col col-20 col-sm-50 col-card">

                    <div class="card-box">
                        <div class="content">

                            <div class="product-image">
                                <img class="prod-img" src="assets/img/burnn.png" alt="">
                            </div>

                            <div class="text">

                                <div>
                                    <p class="prod-text">Face Primer</p>
                                </div>

                                <div>
                                    <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                                </div>

                                <div class="pricing">
                                    <p class="cut">Rs.500</p>
                                    <p class="prod-rup">Rs.450</p>
                                    <p class="off">83% Off</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="col col-20 col-sm-50 col-card">

                    <div class="card-box">
                        <div class="content">

                            <div class="product-image">
                                <img class="prod-img" src="assets/img/burnn.png" alt="">
                            </div>

                            <div class="text">

                                <div>
                                    <p class="prod-text">Face Primer</p>
                                </div>

                                <div>
                                    <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                                </div>

                                <div class="pricing">
                                    <p class="cut">Rs.500</p>
                                    <p class="prod-rup">Rs.450</p>
                                    <p class="off">83% Off</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>



                <div class="col col-20 col-sm-50 col-card">

                    <div class="card-box">
                        <div class="content">

                            <div class="product-image">
                                <img class="prod-img" src="assets/img/burnn.png" alt="">
                            </div>

                            <div class="text">

                                <div>
                                    <p class="prod-text">Face Primer</p>
                                </div>

                                <div>
                                    <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                                </div>

                                <div class="pricing">
                                    <p class="cut">Rs.500</p>
                                    <p class="prod-rup">Rs.450</p>
                                    <p class="off">83% Off</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>