<app-merchant-header></app-merchant-header>

<div class="col col-80">

    <div class="box">
        <div class="merchant-search-export">
            <p>User Transaction </p>

            <span class="divide"></span>


            <div class="right-field">

                <mat-form-field class="search" appearance="outline">

                    <input type="text" matInput placeholder="Search (name,phone number,store name)">

                </mat-form-field>

                <div class="icon">
                    <mat-icon>
                        search
                    </mat-icon>
                </div>
            </div>

            <div class="export">

                <button (click)="abc.click()" mat-button>
                    <mat-icon>
                        file_upload
                    </mat-icon>
                    Export
                    <input #abc type="file" style="display:none" (change)="handle($event)">
                </button>




            </div>

        </div>

        <div class="filter">
            <p>filter</p>
        </div>

        <div class="categories">
            <div class="category">


                <mat-form-field appearance="fill">
                    <mat-label>Categories</mat-label>
                    <mat-select [formControl]="toppings" multiple>
                        <mat-select-trigger>
                            {{toppings.value ? toppings.value[0] : ''}}
                            <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let topping of categories" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Sub Category</mat-label>
                    <mat-select [formControl]="sub_cat" multiple>
                        <mat-select-trigger>
                            {{sub_cat.value ? sub_cat.value[0] : ''}}
                            <span *ngIf="sub_cat.value?.length > 1" class="example-additional-selection">
                                (+{{sub_cat.value.length - 1}} {{sub_cat.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let sub_cat of sub_catlist" [value]="sub_cat">{{sub_cat}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Transaction Type</mat-label>
                    <mat-select [formControl]="transaction" multiple>
                        <mat-select-trigger>
                            {{transaction.value ? transaction.value[0] : ''}}
                            <span *ngIf="transaction.value?.length > 1" class="example-additional-selection">
                                (+{{transaction.value.length - 1}} {{transaction.value?.length === 2 ? 'other' :
                                'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let transaction of transactionlist" [value]="transaction">{{transaction}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select [formControl]="status" multiple>
                        <mat-select-trigger>
                            {{status.value ? status.value[0] : ''}}
                            <span *ngIf="status.value?.length > 1" class="example-additional-selection">
                                (+{{status.value.length - 1}} {{status.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
                    </mat-select>
                </mat-form-field>




                <!-- <span class="divide"></span>

                <button class="cm" mat-button routerLink="/createprofile">
                    Create Merchant
                </button> -->
            </div>
        </div>

        <div class="col col-100 col-sm-100 col-card">

            <div class="card-box">
                <table mat-table [dataSource]="dataSource" matSort>


                    <ng-container matColumnDef="oid">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">
                            Order Id
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.oid}} </td>
                    </ng-container>

                    <ng-container matColumnDef="storename">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">
                            Store
                            Name
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.storename}} </td>
                    </ng-container>

                    <ng-container matColumnDef="phonenumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">
                            Phone
                            Number
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.phonenumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">
                            Category
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Sub_Category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">
                            Sub_Category
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.Sub_Category}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Transaction_Type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">
                            Transaction
                            Type
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.Transaction_Type}} </td>
                    </ng-container>

                    <ng-container matColumnDef="refr_earn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">
                            Refr Cash
                            Earned
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.refr_earn}} </td>
                    </ng-container>

                    <ng-container matColumnDef="refr_paid">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">
                            Refr Cash
                            Paid
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.refr_paid}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">
                            Date
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.Date}} </td>
                    </ng-container>

                    <!--  -->

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">
                            Status
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                    </ng-container>


                    <!-- ------------- -->

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading"> Action
                        </th>
                        <td mat-cell *matCellDef="let row">

                            <div class="crud">
                                <div>
                                    <button mat-button routerLink="/viewdetails">
                                        <mat-icon>
                                            visibility
                                        </mat-icon>

                                        <span>View</span>
                                    </button>

                                </div>
                            </div>
                        </td>

                    </ng-container>





                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <!-- <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td> -->
                    </tr>


                </table>


                <!-- <app-spinner *ngIf="!dataSource"></app-spinner> -->
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users">
                </mat-paginator>
            </div>

        </div>
    </div>
</div>