<div class="container">


    <div class="row">


        <div class="col col-100">
            <div class="header">

                <div class="right">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="#000000">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
                    </svg>
                    <span class="address">Select an address</span>
                </div>
            </div>
        </div>

        <div class="col col-100">
            <div class="save-add">

                <p class="saved">Saved Addresses</p>
                <button mat-button class="saved add-address">+ Add Address</button>
            </div>
        </div>


        <div class="col col-100">
            <p class="deliver">Deliver to</p>
        </div>

        <div class="col col-100">
            <div class="deliver-to">
                <div class="deliver-img">
                    <img src="assets/img/home (1).png" alt="">
                </div>
                <div class="deliver-text">
                    <p class="text">HOME</p>
                </div>
            </div>

            <div class="add-text">
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolor earum
                    blanditiis
                    reiciendis
                    recusandae laudantium tempore qui, sunt officia non, nobis reprehenderit nostrum corporis soluta
                    quae, sapiente aut inventore repudiandae.</p>

                <div>
                    <img class="edit-option" src="assets/img/edit-3.png" alt="">
                </div>
            </div>
        </div>


        <div class="col col-100">
            <div class="deliver-to">
                <div class="deliver-img">
                    <img src="assets/img/briefcase.png" alt="">
                </div>
                <div class="deliver-text">
                    <p class="text">WORK</p>
                </div>
            </div>

            <div class="add-text">
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolor earum
                    blanditiis
                    reiciendis
                    recusandae laudantium tempore qui, sunt officia non, nobis reprehenderit nostrum corporis soluta
                    quae, sapiente aut inventore repudiandae.</p>

                <div>
                    <img class="edit-option" src="assets/img/edit-3.png" alt="">
                </div>
            </div>
        </div>

        <div class="col col-100">
            <div class="deliver-to">
                <div class="deliver-img">
                    <img src="assets/img/map-pin.png" alt="">
                </div>
                <div class="deliver-text">
                    <p class="text">OTHER</p>
                </div>
            </div>

            <div class="add-text">
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolor earum
                    blanditiis
                    reiciendis
                    recusandae laudantium tempore qui, sunt officia non, nobis reprehenderit nostrum corporis soluta
                    quae, sapiente aut inventore repudiandae.</p>

                <div>
                    <img class="edit-option" src="assets/img/edit-3.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>