<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <img src="assets/img/chevron_left_black_24dp.svg" alt="" />
        </div>

        <div class="header-details">
            <p class="identity pro-details">Payment Methods</p>

        </div>

    </div>
</div>


<div class="container">
    <div class="main">


        <div class="row">

            <div class="payment col col-100">
                <div>
                    <p class="wallet">Refr Wallet</p>
                </div>

                <div class="col col-100 col-sm-100 col-card">
                    <div class="refr-card card-box">

                        <div class="refr-main">

                            <div>

                                <div>
                                    <p class="refr-cash">Refr Cash</p>
                                </div>

                                <div class="amount">
                                    <p class="balance">Available Balance</p>
                                    <p class="coin-number"><img src="assets/img/coin.png" alt="">1000</p>
                                </div>

                            </div>

                            <div class="right-arrow">
                                <img src="assets/img/Vector (1).png" alt="">

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="payment col col-100">
                <div>
                    <p class="wallet">Other Payment Options</p>
                </div>
            </div>


            <div class="cards col col-100">
                <div style="margin-bottom: -10px !important;">
                    <p class="wallet">Cards</p>
                </div>

                <div>
                    <img class="line" src="assets/img/Line 102.png" alt="">
                </div>
            </div>


            <div class="cards col col-100">
                <div class="abc">


                    <div class="payment-option">
                        <div>
                            <img src="assets/img/card.png" alt="">
                        </div>

                        <div>
                            <p class="personal-pay">Personal</p>
                            <p class="personal-number">123456</p>
                        </div>

                    </div>
                    <div>
                        <button mat-button>
                            <p class="verification">Verified</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cards col col-100">
                <div class="abc">


                    <div class="payment-option">
                        <div>
                            <img src="assets/img/visa.png" alt="">
                        </div>

                        <div>
                            <p class="personal-pay">Personal</p>
                            <p class="personal-number">123456</p>
                        </div>

                    </div>
                    <div>
                        <button mat-button>

                            <p class="verify verification">Verify Now</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cards col col-100">
                <div class="abc">


                    <div class="payment-option">
                        <div>
                            <img src="assets/img/rupay.png" alt="">
                        </div>

                        <div>
                            <p class="personal-pay">Personal</p>
                            <p class="personal-number">123456</p>
                        </div>

                    </div>
                    <div>
                        <button mat-button>
                            <p class="verify verification">Verify Now</p>
                        </button>
                    </div>
                </div>
            </div>

            <div class="cards col col-100">
                <div class="abc">


                    <div class="payment-option">
                        <div>
                            <img src="assets/img/card.png" alt="">
                        </div>

                        <div>
                            <p class="personal-pay">Add Credit, Debit & ATM Cards</p>

                        </div>

                    </div>
                    <div>
                        <img src="assets/img/chevron_right_black_24dp.svg" class="right-bar" alt="">
                    </div>
                </div>
            </div>

            <div class="cards col col-100">
                <div style="    margin-bottom: -10px !important;">
                    <p class="wallet">UPI</p>
                </div>

                <div>
                    <img class="line" src="assets/img/Line 102.png" alt="">
                </div>
            </div>

            <div class="cards col col-100">
                <div class="abc">


                    <div class="payment-option">
                        <div>
                            <img src="assets/img/google.png" alt="">
                        </div>

                        <div>
                            <p class="personal-pay">Google Pay</p>

                        </div>

                    </div>
                    <div>
                        <img src="assets/img/chevron_right_black_24dp.svg" class="right-bar" alt="">
                    </div>
                </div>
            </div>
            <div class="cards col col-100">
                <div class="abc">


                    <div class="payment-option">
                        <div>
                            <img src="assets/img/paytm.png" alt="">
                        </div>

                        <div>
                            <p class="personal-pay">Paytm</p>

                        </div>

                    </div>
                    <div>
                        <img src="assets/img/chevron_right_black_24dp.svg" class="right-bar" alt="">
                    </div>
                </div>
            </div>
            <div class="cards col col-100">
                <div class="abc">


                    <div class="payment-option">
                        <div>
                            <img src="assets/img/google.png" alt="">
                        </div>

                        <div>
                            <p class="personal-pay">Phone Pe</p>

                        </div>

                    </div>
                    <div>
                        <img src="assets/img/chevron_right_black_24dp.svg" class="right-bar" alt="">
                    </div>
                </div>
            </div>
            <div class="cards col col-100">
                <div class="abc">


                    <div class="payment-option">
                        <div>
                            <img src="assets/img/upi.png" alt="">
                        </div>

                        <div>
                            <p class="personal-pay">Pay via UPI</p>
                            <p class="register">You need to have a registerd UPI ID</p>

                        </div>

                    </div>
                    <div>
                        <img src="assets/img/chevron_right_black_24dp.svg" class="right-bar" alt="">
                    </div>
                </div>
            </div>


            <div class="cards col col-100">
                <div style="margin-bottom: -10px !important;">
                    <p class="wallet">Netbanking</p>
                </div>

                <div>
                    <img class="line" src="assets/img/Line 102.png" alt="">
                </div>
            </div>


            <div class="cards col col-100">
                <div class="abc">


                    <div class="payment-option">
                        <div>
                            <img src="assets/img/net-banking.png" alt="">
                        </div>

                        <div>
                            <p class="personal-pay">Name</p>


                        </div>

                    </div>
                    <div>
                        <img src="assets/img/chevron_right_black_24dp.svg" class="right-bar" alt="">
                    </div>
                </div>
            </div>


            <div class="cards col col-100">
                <div style="margin-bottom: -10px !important;">
                    <p class="wallet">Wallets</p>
                </div>

                <div>
                    <img class="line" src="assets/img/Line 102.png" alt="">
                </div>
            </div>


            <div class="cards col col-100">

                <div class="abc">


                    <div class="payment-option">
                        <div>
                            <img src="assets/img/net-banking.png" alt="">
                        </div>

                        <div>
                            <p class="personal-pay">Mobikwik</p>


                        </div>

                    </div>
                    <div>
                        <img src="assets/img/arrow_drop_down_black_24dp.svg" (click)="show=!show" class="right-bar"
                            alt="">
                    </div>
                </div>

                <div *ngIf="show">


                    <div class="cards col col-100">

                        <div class="abc" style="margin-top: 14px;">


                            <div class="payment-option">
                                <div>
                                    <img src="assets/img/net-banking.png" alt="">
                                </div>

                                <div>
                                    <p class="personal-pay">Freecharge</p>


                                </div>

                            </div>
                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" class="right-bar" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="cards col col-100">
                        <div class="abc">


                            <div class="payment-option">
                                <div>
                                    <img src="assets/img/net-banking.png" alt="">
                                </div>

                                <div>
                                    <p class="personal-pay">Airtel Money</p>


                                </div>

                            </div>
                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" class="right-bar" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="cards col col-100">
                        <div class="abc">


                            <div class="payment-option">
                                <div>
                                    <img src="assets/img/net-banking.png" alt="">
                                </div>

                                <div>
                                    <p class="personal-pay">Ola Money (Postpaid + Wallet)</p>


                                </div>

                            </div>
                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" class="right-bar" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="cards col col-100">
                        <div class="abc">


                            <div class="payment-option">
                                <div>
                                    <img src="assets/img/net-banking.png" alt="">
                                </div>

                                <div>
                                    <p class="personal-pay">JioMoney</p>


                                </div>

                            </div>
                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" class="right-bar" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="cards col col-100">
                        <div class="abc">


                            <div class="payment-option">
                                <div>
                                    <img src="assets/img/net-banking.png" alt="">
                                </div>

                                <div>
                                    <p class="personal-pay">PayZapp</p>


                                </div>

                            </div>
                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" class="right-bar" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>