<div class="container">
    <div class="row">
        <div class="col col-100">

            <div class="heading">
                <div>
                    <h4>Refr <sup class="logo"><img src="../../../assets/img/refill/Refr_chatbox_1800x945-02 1.png"
                                alt=""></sup>
                    </h4>

                </div>

                <div>
                    <p class="refill-invoice">Invoice</p>
                </div>


                <div>
                    <img width="100%" src="../../../assets/img/refill/Line 105 (Stroke).png" alt="">
                </div>


            </div>
        </div>

        <div class="col col-100">
            <div>
                <div>
                    <p class="pvt">refr tech pvt. ltd.</p>
                    <!-- <p class="address">Address: 403,Rehana Heights,S V Road,Nr.Rass Showroom,Santacruz(W)</p>
                    <p class="address">Mumbai-40054</p> -->
                </div>

                <div class="box col col-100">
                    <div class="pacin">
                        <p class="pancin">pan:aakcr4220j</p>
                        <p class="pancin">cin:u72900mh2020ptc345639</p>
                    </div>
                    <div class="pacin">
                        <p class="pancin">state: <span>Maharashtra</span> </p>
                        <p class="pancin">gstin:27aakcr4220jiza</p>
                    </div>
                    <div class="pacin">
                        <!-- <p class="scode">state code: <span>27</span> </p>   -->
                        <p class="mail">Email:Info@getrefr.in</p>
                    </div>
                    <div>
                        <p class="no-date">invoice no:</p>
                        <p class="no-date">invoice date:</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-100">
            <div>
                <div>
                    <p class="pvt">merchant details:</p>
                </div>
                <div class="pacin">
                    <p class="address">merchant name:</p>
                    <p class="pancin">state: <span>maharashtra</span></p>
                </div>
                <div class="pacin">
                    <p class="address">merchant ID:</p>
                    <p class="pancin">state code: <span>27</span></p>
                </div>
                <div class="pacin">
                    <p class="address">shop name</p>
                    <p class="pancin">gstin: <span>0000000</span></p>
                </div>
                <div>
                    <p class="address">Address: 403,Rehana Heights,S V Road,Nr.Rass Showroom,Santacruz(W)</p>
                    <p class="address">Mumbai-40054</p>
                </div>
            </div>
        </div>

        <div class="col col-100">
            <table>
                <tr>
                    <th>Serial no.</th>
                    <th>Title</th>
                    <th>Total ₹</th>
                </tr>
                <tr class="pancin">
                    <td>1</td>
                    <td>Campaign Refill</td>

                    <td>4292</td>
                </tr>
                <tr class="pancin">
                    <td></td>
                    <td>Convenience and marketing collateral fees</td>
                    <td>500</td>
                </tr>

                <tr class="pancin">
                    <td></td>
                    <td style="text-align:right">SGST @ 9%</td>
                    <td>45</td>
                </tr>
                <tr class="pancin">
                    <td></td>
                    <td style="text-align:right">CGST @ 9%</td>
                    <td>45</td>
                </tr>
                <tr class="pancin">
                    <td></td>
                    <td style="text-align:right">Gateway charges @ 2.36%</td>
                    <td>45</td>
                </tr>

                <tr>
                    <td></td>
                    <td style="text-align: center;" class="grand-total">Total</td>
                    <td class="grand-total">5000</td>
                </tr>
            </table>

            <p class="auth-sign">Authorized Signatory</p>

            <div>
                <img width="100%" src="../../../assets/img/refill/Line 105 (Stroke).png" alt="">
            </div>

            <div class="footer">
                <p class="address">Regd address: Shop no 18, Mayfair Building, Sundervan Complex, Andheri West,</p>
                <p class="address">Mumbai - 400053</p>
                <p class="address">Contact Refr: relations@refr.club || <span class="address"
                        style="    text-transform: lowercase;">www.refr.clubs</span></p>

            </div>
        </div>
    </div>
</div>