<div class="col col-100">
    <div class="header">
        <p>
            <mat-icon>

                arrow_back_ios_new

            </mat-icon>
        </p>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="main">


            <div class="accessories">
                <p>accessories</p>
                <div class="access-img ">
                    <a>
                        <img src="../../../assets/img/burn-products/Frame 1042.png" alt="">
                    </a>
                    <a>
                        <img src="../../../assets/img/burn-newin/newin.png" alt="">
                    </a>

                </div>
            </div>
            <div class="accessories">
                <p>NEW IN</p>
                <div class="access-img ">
                    <a>
                        <img src="../../../assets/img/burn-newin/newin.png" alt="">
                    </a>
                    <a>
                        <img src="../../../assets/img/burn-products/Frame 1042.png" alt="">
                    </a>

                </div>
            </div>

            <div class="accessories">
                <p>BRANDS <br>
                    SPOTLIGHT</p>

                <div class="col col-100">


                    <div class="col col-30 col-sm-50 col-card">
                        <div class="card-box">

                            <a class="anchor_img">
                                <img class="brand_img" src="../../../assets/img/burn-newin/Frame 1005.png" alt="">
                            </a>

                        </div>
                    </div>
                    <div class="col col-30 col-sm-50 col-card">
                        <div class="card-box">

                            <a class="anchor_img">
                                <img class="brand_img" src="../../../assets/img/burn-newin/Frame 1006.png" alt="">
                            </a>

                        </div>
                    </div>
                    <div class="col col-30 col-sm-50 col-card">
                        <div class="card-box">

                            <a class="anchor_img">
                                <img class="brand_img" src="../../../assets/img/burn-newin/Frame 1005.png" alt="">
                            </a>

                        </div>
                    </div>
                    <div class="col col-30 col-sm-50 col-card">
                        <div class="card-box">

                            <a class="anchor_img">
                                <img class="brand_img" src="../../../assets/img/burn-newin/Frame 1006.png" alt="">
                            </a>

                        </div>
                    </div>






                </div>

            </div>


        </div>



    </div>
</div>