<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">Orders</p>

        </div>

    </div>
</div>



<div class="container">
    <div class="main">


        <div class="row">

            <div class="col col-100">

                <div style="margin-top: 20px;">



                    <div class="order-list">
                        <div>
                            <div>
                                <p class="store_name">STORE NAME</p>
                            </div>

                            <div>
                                <p class="shop_name">Two Steps</p>
                            </div>

                        </div>

                        <div>
                            <button class="order-details" mat-stroked-button>Order Details</button>

                        </div>

                    </div>

                    <div class="lists_products">
                        <div class="products">
                            <p>Lakme Eyeconic Curling ...</p>
                            <button mat-button (click)="show=!show">+1 more</button>
                        </div>
                    </div>
                    <div class="products" *ngIf="show">
                        <p>Lakme Eyeconic Curling</p>

                    </div>

                    <div class="orders_id">
                        <p class="store_name">ORDER ID</p>
                        <p class="ord_id">100512163-0573735</p>

                    </div>

                    <div class="status-dispatched">
                        <div>
                            <p class="store_name">STATUS</p>
                        </div>

                        <div>
                            <p class="confirm-or-not">Confirmed,not yet dispatched</p>
                        </div>

                    </div>


                    <div>
                        <img class="line" src="assets/img/Line 102.png" alt="">
                    </div>

                </div>

                <div style="margin-top: 20px;">



                    <div class="order-list">
                        <div>
                            <div>
                                <p class="store_name">STORE NAME</p>
                            </div>

                            <div>
                                <p class="shop_name">Two Steps</p>
                            </div>

                        </div>

                        <div>
                            <button class="order-details" mat-stroked-button>Order Details</button>

                        </div>

                    </div>

                    <div class="lists_products">
                        <div class="products">
                            <p>Lakme Eyeconic Curling ...</p>
                            <button mat-button (click)="show=!show">+1 more</button>
                        </div>
                    </div>
                    <div class="products" *ngIf="show">
                        <p>Lakme Eyeconic Curling</p>

                    </div>

                    <div class="orders_id">
                        <p class="store_name">ORDER ID</p>
                        <p class="ord_id">100512163-0573735</p>

                    </div>

                    <div class="status-dispatched">
                        <div>
                            <p class="store_name">STATUS</p>
                        </div>

                        <div>
                            <p class="confirm-or-not">Out for delivery</p>
                        </div>

                    </div>


                    <div>
                        <img class="line" src="assets/img/Line 102.png" alt="">
                    </div>

                </div>

                <div style="margin-top: 20px;">



                    <div class="order-list">
                        <div>
                            <div>
                                <p class="store_name">STORE NAME</p>
                            </div>

                            <div>
                                <p class="shop_name">Two Steps</p>
                            </div>

                        </div>

                        <div>
                            <button class="order-details" mat-stroked-button>Order Details</button>

                        </div>

                    </div>

                    <div class="lists_products">
                        <div class="products">
                            <p>Lakme Eyeconic Curling ...</p>
                            <button mat-button (click)="show=!show">+1 more</button>
                        </div>
                    </div>
                    <div class="products" *ngIf="show">
                        <p>Lakme Eyeconic Curling</p>

                    </div>

                    <div class="orders_id">
                        <p class="store_name">ORDER ID</p>
                        <p class="ord_id">100512163-0573735</p>

                    </div>

                    <div class="status-dispatched">
                        <div>
                            <p class="store_name">STATUS</p>
                        </div>

                        <div>
                            <p class="confirm-or-not">Shipped</p>
                        </div>

                    </div>


                    <div>
                        <img class="line" src="assets/img/Line 102.png" alt="">
                    </div>

                </div>

                <div style="margin-top: 20px;">



                    <div class="order-list">
                        <div>
                            <div>
                                <p class="store_name">STORE NAME</p>
                            </div>

                            <div>
                                <p class="shop_name">Two Steps</p>
                            </div>

                        </div>

                        <div>
                            <button class="order-details" mat-stroked-button>Order Details</button>

                        </div>

                    </div>

                    <div class="lists_products">
                        <div class="products">
                            <p>Lakme Eyeconic Curling ...</p>
                            <button mat-button (click)="show=!show">+1 more</button>
                        </div>
                    </div>
                    <div class="products" *ngIf="show">
                        <p>Lakme Eyeconic Curling</p>

                    </div>

                    <div class="orders_id">
                        <p class="store_name">ORDER ID</p>
                        <p class="ord_id">100512163-0573735</p>

                    </div>

                    <div class="status-dispatched">
                        <div>
                            <p class="store_name">STATUS</p>
                        </div>

                        <div>
                            <p class="confirm-or-not">Delivered on <span class="date_day">Mon, 18 Apr</span> </p>
                        </div>

                    </div>


                    <div>
                        <img class="line" src="assets/img/Line 102.png" alt="">
                    </div>

                </div>

                <div style="margin-top: 20px;">



                    <div class="order-list">
                        <div>
                            <div>
                                <p class="store_name">STORE NAME</p>
                            </div>

                            <div>
                                <p class="shop_name">Akkad Bakkad Bombay Boo</p>
                            </div>

                        </div>

                        <div>
                            <button class="order-details" mat-stroked-button>Order Details</button>

                        </div>

                    </div>

                    <div class="lists_products">
                        <div class="products">
                            <p>Veg Fried Rice ...</p>
                            <button mat-button (click)="show=!show">+1 more</button>
                        </div>
                    </div>
                    <div class="products" *ngIf="show">
                        <p>Veg Noddles</p>

                    </div>

                    <div class="orders_id">
                        <p class="store_name">ORDER ID</p>
                        <p class="ord_id">100512163-0573735</p>

                    </div>

                    <div class="status-dispatched">
                        <div class="status_all">
                            <div>
                                <div>
                                    <p class="store_name">STATUS</p>
                                </div>

                                <div>
                                    <p class="confirm-or-not">29 May 2022 at 10:34PM </p>
                                </div>
                            </div>
                            <div class="refr_cta">
                                <button mat-button>refr</button>
                            </div>
                        </div>

                    </div>


                    <div>
                        <img class="line" src="assets/img/Line 102.png" alt="">
                    </div>

                </div>

            </div>




        </div>
    </div>
</div>