<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">Orders</p>

        </div>

    </div>
</div>



<div class="container">
    <div class="main">


        <div class="row">

            <div class="col col-100">

                <div style="margin-top: 20px;">



                    <div class="order-list">
                        <div>
                            <div>
                                <p class="order-id">ORDER ID</p>
                            </div>

                            <div>
                                <p class="order-code">100512163-0573735</p>
                            </div>

                        </div>

                        <div>
                            <button class="order-details" mat-stroked-button>Order Details</button>

                        </div>




                    </div>

                    <div class="status-dispatched">
                        <div>
                            <p class="order-id">STATUS</p>
                        </div>

                        <div>
                            <p class="confirm-or-not">Confirmed,not yet dispatched</p>
                        </div>

                    </div>

                    <!-- <div class="status-dispatched">
                        <div>
                            <p class="order-id">ITEMS</p>
                        </div>

                        <div class="products" style="margin-left:18px">
                            <img class="product-img" src="assets/img/prod-1.png" alt="">
                            <img class="product-img" src="assets/img/prod-2.png" alt="">
                            <img class="product-img" src="assets/img/prod-3.png" alt="">
                        </div>

                    </div> -->

                    <div>
                        <img class="line" src="assets/img/Line 102.png" alt="">
                    </div>

                </div>

            </div>


            <div class="col col-100">





                <div class="order-list">
                    <div>
                        <div>
                            <p class="order-id">ORDER ID</p>
                        </div>

                        <div>
                            <p class="order-code">100512163-0573735</p>
                        </div>

                    </div>

                    <div>
                        <button class="order-details" mat-stroked-button>Order Details</button>

                    </div>




                </div>

                <div class="status-dispatched">
                    <div>
                        <p class="order-id">STATUS</p>
                    </div>

                    <div>
                        <p class="confirm-or-not">Out for Delivery</p>
                    </div>

                </div>

                <!-- <div class="status-dispatched">
                    <div>
                        <p class="order-id">ITEMS</p>
                    </div>

                    <div class="products" style="margin-left:18px">
                        <img class="product-img" src="assets/img/shipped.png" alt="">

                    </div>

                </div> -->

                <div>
                    <img class="line" src="assets/img/Line 102.png" alt="">
                </div>


            </div>


            <div class="col col-100">

                <div class="order-list">
                    <div>
                        <div>
                            <p class="order-id">ORDER ID</p>
                        </div>

                        <div>
                            <p class="order-code">100512163-0573735</p>
                        </div>

                    </div>

                    <div>
                        <button class="order-details" mat-stroked-button>Order Details</button>

                    </div>




                </div>

                <div class="status-dispatched">
                    <div>
                        <p class="order-id">STATUS</p>
                    </div>

                    <div>
                        <p class="confirm-or-not">Shipped</p>
                    </div>

                </div>

                <!-- <div class="status-dispatched">
                    <div>
                        <p class="order-id">ITEMS</p>
                    </div>

                    <div class="products" style="margin-left:18px">
                        <img class="product-img" src="assets/img/shiping-1.png" alt="">
                        <img class="product-img" src="assets/img/shipped.png" alt="">

                    </div>

                </div> -->

                <div>
                    <img class="line" src="assets/img/Line 102.png" alt="">
                </div>
            </div>


            <div class="col col-100">

                <div class="order-list">
                    <div>
                        <div>
                            <p class="order-id">ORDER ID</p>
                        </div>

                        <div>
                            <p class="order-code">100512163-0573735</p>
                        </div>

                    </div>

                    <div>
                        <button class="order-details" mat-stroked-button>Order Details</button>

                    </div>




                </div>

                <div class="status-dispatched">
                    <div>
                        <p class="order-id">STATUS</p>
                    </div>

                    <div>
                        <p class="order-code">Delivered</p>
                    </div>

                </div>

                <!-- <div class="status-dispatched">
                    <div>
                        <p class="order-id">ITEMS</p>
                    </div>

                    <div class="products" style="margin-left:18px">
                        <img class="product-img" src="assets/img/deliverd.png" alt="">


                    </div>

                </div> -->

                <div>
                    <img class="line" src="assets/img/Line 102.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>