.header {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.header-details {
  display: flex;
  justify-content: center;
  // text-align: center;
  width: 100%;
  margin-right: 10%;
}

.header-img {
  margin-left: 7%;
}

.pro-details {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 23px !important;
  margin-bottom: 0px !important;
  color: #000000;
}

//

.main {
  background: #fff;
  margin-top: 2px;
  //   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

//

.line {
  width: 95%;
}
//

.order-list {
  display: flex;
  justify-content: space-between;
  //   margin-top: 20px;
  width: 95%;
}

.store_name {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 14px !important;

  color: #6d7075;
}

.shop_name {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px !important;
  line-height: 20px !important;

  color: #000000;
}

.order-details {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px !important;
  border-color: #874bf9 !important;
  padding: 0 8px;
  color: #874bf9;
}

.confirm-or-not {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px !important;
  line-height: 22px !important;
  color: #000000;
}

//

.date_day {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 15px !important;
  line-height: 22px !important;
}

.refr_cta {
  button {
    background: #a442ff;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;
    color: #ffffff;
    padding: 5px 15px;
  }
}

.status_all {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

//

.products {
  display: flex;
  align-items: center;
  margin: 10px 0;
  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 23px !important;
  }
  button {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 15px !important;
    padding: 0 8px;
    color: #545454;
    border: 1px solid #874bf9;
  }
}

//

.ord_id {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  line-height: 20px !important;
}

//

.status-dispatched {
  margin-top: 27px;
}

.product-img {
  padding: 5px;
}

//

@media only screen and (max-width: 767px) {
  .header-img {
    margin-left: 6px;
  }
}
