.main {
  margin: 16px 10px 10px 16px;
}

.cancel {
  float: right;
}

//

.top {
  margin-top: 0 !important;
}

.text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 13px !important;
  //   line-height: 29px !important;
  margin-bottom: 20px !important;
  color: #000000;
}

//

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.replace {
  background: #874bf9;
  border-radius: 5px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px !important;
  line-height: 30px !important;

  color: #ffffff;
}

.return {
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000;
}
