<div class="col col-100">

    <div class="account-heading">
        <div class="right">
            <img class="left-arrow" src="assets/img/chevron_left_black_24dp.svg" alt="" />
            <!-- <img src="assets/img/Group 8430.png" alt="" /> -->
        </div>
        <div class="left">
            <img src="assets/img/Group 8431.png" alt="" />
            <img class="bell-icon" src="assets/img/notification.png" alt="" />
        </div>
    </div>
</div>



<div class="container">

    <div class="main">

        <div class="row">




            <div class="col col-25 col-sm-none">

            </div>


            <div class="full-card col col-50 col-sm-100 ">


                <div class="heading">
                    <div class="info">

                        <div class="names">
                            <h1 class="heading-name">Hey</h1>
                            <h1 class="heading-name">Rati</h1>
                        </div>

                        <div class="left">
                            <img src="assets/img/profile-icon.png" alt="" />
                        </div>
                    </div>
                </div>

                <div class="log-line">
                    <p class="logged">logged in via 9619566685</p>
                    <hr class="line" />
                </div>

                <div class="bulks col col-50 col-sm-100" style="width: 93%;">






                    <div class="bulk col col-100">

                        <div class="order">
                            <div class="order-left">
                                <div>
                                    <img src="assets/img/myorders.png" alt="" />
                                </div>

                                <div>
                                    <a class="myorder">My Orders</a>
                                    <p class="desc">
                                        Check your orders status (track,return,cancel etc)
                                    </p>
                                </div>
                            </div>

                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                            </div>
                        </div>

                        <hr class="lines" />
                    </div>

                    <div class="bulk col col-100">
                        <div class="order">
                            <div class="order-left">
                                <div>
                                    <img src="assets/img/mywishlist.png" alt="" />
                                </div>

                                <div>
                                    <a class="myorder">My Wishlist</a>
                                    <p class="desc">Buy from items saved in Wishlist</p>
                                </div>
                            </div>

                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                            </div>
                        </div>

                        <hr class="lines" />
                    </div>
                    <div class="bulk col col-100">

                        <div style="margin-bottom: 0px;">

                            <div class="order">
                                <div class="order-left">
                                    <div>
                                        <img src="assets/img/manage-address.png" alt="" />
                                    </div>

                                    <div>
                                        <a class="myorder">Manage addresses</a>
                                        <p class="desc">Manage your saved address</p>
                                    </div>
                                </div>

                                <div>
                                    <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                                </div>
                            </div>

                            <hr class="lines" />
                        </div>

                    </div>

                    <div class="bulk col col-100">
                        <div class="order">
                            <div class="order-left">
                                <div>
                                    <img src="assets/img/payment.png" alt="" />
                                </div>

                                <div>
                                    <a class="myorder">Payment settings</a>
                                    <p class="desc">Payment modes & Transaction history</p>
                                </div>
                            </div>

                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                            </div>
                        </div>

                        <hr class="lines" />
                    </div>

                    <!-- <div class="bulk col col-100">
                    <div class="order">
                        <div class="order-left">
                            <div>
                                <img src="assets/img/documents.png" alt="" />
                            </div>

                            <div>
                                <a class="myorder">Documents</a>
                                <p class="desc">
                                    Quo molestias laboriosam hic fuga laudantium ut laborum placeat.
                                </p>
                            </div>
                        </div>

                        <div>
                            <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                        </div>
                    </div>

                    <hr class="lines" />
                </div> -->

                    <div class="bulk col col-100">
                        <div class="order">
                            <div class="order-left">
                                <div>
                                    <img src="assets/img/profile.png" alt="" />
                                </div>

                                <div>
                                    <a class="myorder">Profile Details</a>
                                    <p class="desc">
                                        Quo molestias laboriosam hic fuga laudantium ut laborum placeat.
                                    </p>
                                </div>
                            </div>

                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                            </div>
                        </div>

                        <hr class="lines" />
                    </div>

                    <div class="bulk col col-100">
                        <div class="order">
                            <div class="order-left">
                                <div>
                                    <img src="assets/img/customer-support.png" alt="" />
                                </div>

                                <div>
                                    <a class="myorder">Customer support</a>
                                    <p class="desc">Have an issue ? Chat with us</p>
                                </div>
                            </div>

                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                            </div>
                        </div>

                        <hr class="lines" />
                    </div>

                    <div class="bulk col col-100">
                        <div class="order">
                            <div class="order-left">
                                <div>
                                    <img src="assets/img/general-info.png" alt="" />
                                </div>

                                <div>
                                    <a class="myorder">General Information</a>
                                    <p class="desc">Privacy Policy, Terms & Conditions</p>
                                </div>
                            </div>

                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                            </div>
                        </div>

                        <hr class="lines" />
                    </div>

                    <div class="bulk col col-100">
                        <div class="order">
                            <div class="order-left">
                                <div>
                                    <img src="assets/img/feedback.png" alt="" />
                                </div>

                                <div>
                                    <a class="myorder">Feedback</a>
                                    <p class="desc">
                                        Quo molestias laboriosam hic fuga laudantium ut laborum placeat.
                                    </p>
                                </div>
                            </div>

                            <div>
                                <img src="assets/img/chevron_right_black_24dp.svg" alt="" />
                            </div>
                        </div>

                        <hr class="lines" />
                    </div>

                </div>




            </div>

            <div class="col col-25 col-sm-none">

            </div>


            <div class="col col-100">
                <div class="logout">
                    <button mat-raised-button><span class="log">Logout</span></button>
                </div>
            </div>


        </div>
        <div class="col col-100 col-sm-100 col-card">
            <div class="card-box" style="margin: 0px !important;">
                <div class="section-card ">

                    <div class="dashboard">
                        <div>
                            <img src="assets/img/home.png" alt="">
                            <p class="home">Home</p>
                        </div>

                        <div>
                            <img src="assets/img/explore.png" alt="">
                            <p class="other-section">Explore</p>
                        </div>

                        <div>
                            <img src="assets/img/Refr.png" alt="">
                            <!-- <p class="other-section">Refr</p> -->
                        </div>

                        <div>
                            <img src="assets/img/wallet.png" alt="">
                            <p class="other-section">Wallet</p>

                        </div>

                        <div>
                            <img src="assets/img/burn.png" alt="">
                            <p class="other-section">Burn</p>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>