<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">login</p>

        </div>

    </div>
</div>

<div class="container">
    <div class="main">


        <div class="row">

            <div class="section">



                <div class="col col-50 col-sm-100 col-card">
                    <div class="card-box">

                        <div class="login">
                            <p class="login-heading">enter details</p>
                        </div>

                        <div class="details">
                            <mat-form-field appearance="outline">
                                <mat-label>Full Name <span class="imp">*</span></mat-label>
                                <input matInput>

                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label> <span class="number">+91|</span> Mobile Number <span class="imp">*</span>
                                </mat-label>
                                <input matInput>

                            </mat-form-field>
                        </div>

                        <div class="boxes">

                            <!-- <div class="box-1"></div> -->

                            <div class="checkbox">
                                <input type="text" name="" id="">
                            </div>
                            <div class="checkbox">
                                <input type="text" name="" id="">
                            </div>
                            <div class="checkbox">
                                <input type="text" name="" id="">
                            </div>
                            <div class="checkbox">
                                <input type="text" name="" id="">
                            </div>
                        </div>



                        <div>
                            <button class="continue" mat-button>VERIFY OTP</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>