<div class="col col-100">

    <div class="header">
        <div class="header-img">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
            </svg>
        </div>

        <div class="header-details">
            <p class="identity pro-details">General Information</p>

        </div>

    </div>
</div>

<div class="container">
    <div class="main">


        <div class="row">

            <div class="payment col col-100">
                <div class="main-address-section">

                    <div class="support">

                        <div>


                            <div>
                                <p class="address-section">Send us an Email</p>
                            </div>
                            <div>
                                <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi
                                    sunt
                                </p>
                            </div>
                        </div>
                        <!-- <div>
                            <img src="assets/img/chevron_right_black_24dp.svg" alt="">
                        </div> -->
                    </div>


                </div>

                <div>
                    <img class="line" src="assets/img/Line 102.png" alt="">
                </div>
            </div>

            <div class="col col-100">
                <div class="email">
                    <button mat-button>
                        Email
                    </button>
                </div>
            </div>



        </div>
    </div>
</div>