<div class="highlights mt-2">
    <div class="fs-16">&nbsp; Highlights of your experience</div>
    <div class="pill-groups">
        <div class="mt-1 pill-group">
            <div class="pill">
                <button class="c_black">Experienced doctors</button>
            </div>
            <div class="pill">
                <button class="c_black">Friendly staff</button>
            </div>
            <div class="pill">
                <button class="c_black">Advanced technology</button>
            </div>
        </div>

    </div>
</div>