<div class="hours">
    <div class="ccc">
        <p>Set opening hours</p>

        <div style="display: flex;">
            <div style="    display: flex;
    flex-direction: column;
    gap: 20px;">
                <mat-slide-toggle>Mon</mat-slide-toggle>
                <mat-slide-toggle>Tue</mat-slide-toggle>
                <mat-slide-toggle>Wed</mat-slide-toggle>
                <mat-slide-toggle>Thur</mat-slide-toggle>
                <mat-slide-toggle>Fri</mat-slide-toggle>
                <mat-slide-toggle>Sat</mat-slide-toggle>
                <mat-slide-toggle>Sun</mat-slide-toggle>


            </div>

            <div>
                <p>14:00 <span>to</span> 20:00</p>
                <p>14:00 <span>to</span> 20:00</p>
                <p>14:00 <span>to</span> 20:00</p>
                <p>14:00 <span>to</span> 20:00</p>
                <p>14:00 <span>to</span> 20:00</p>
                <p>14:00 <span>to</span> 20:00</p>
                <p>14:00 <span>to</span> 20:00</p>

            </div>
        </div>


    </div>
</div>