<div class="container">
    <div class="row">
        <div class="main">

            <div>
                <p class="heading">Choose exchange item</p>
                <p>Size :</p>
            </div>

            <div class="buttons">
                <button class="size" mat-button>S</button>
                <button class="size" mat-button>M</button>
                <button class="size" mat-button>L</button>
                <button class="size" mat-button>XS</button>
            </div>

            <div class="prod-detail">
                <div>
                    <img width="130px" style="max-width: 100%;" src="../../../assets/img/replace.png" alt="">
                    <p class="prod-title">Face Primer</p>
                </div>

                <div>
                    <img width="130px" style="max-width: 100%;" src="../../../assets/img/replace.png" alt="">
                    <p class="prod-title">Face Primer</p>
                </div>
            </div>

        </div>
    </div>
</div>