<div class="container">
    <div class="row">

        <div class="col col-25 col-sm-100 col-card ">
            <div class="card-box about">
                <div class="textC store">
                    <p>User Overview</p>
                </div>
                <table style="width: 100%;">
                    <tr>
                        <th class="name">Sima Shinde</th>
                    </tr>

                    <tr>
                        <th class="heading">User A/c</th>
                        <th class="heading">₹ 0</th>
                    </tr>
                    <tr>
                        <th class="heading">User Reserve </th>
                        <th class="heading">₹ 0</th>

                    </tr>

                    <tr>
                        <th class="heading">Store A/c</th>
                        <th class="heading">₹ 0</th>
                    </tr>
                    <tr>
                        <th class="heading">Store Reserved</th>
                        <th class="heading">₹ 0</th>
                    </tr>
                    <tr>
                        <th class="heading">Campaign A/c</th>
                        <th class="heading">₹ 0</th>
                    </tr>


                </table>
            </div>
        </div>

    </div>
</div>