<div class="container">


    <div class="row">


        <div class="col col-100">
            <div class="header">

                <div class="right">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="#000000">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z" />
                    </svg>
                    <span class="address">Add Address</span>
                </div>
            </div>
        </div>

        <div class="col col-100">
            <p class="enter-add">Enter Address Details</p>


            <div class="all-buttons">

                <div>
                    <button class="btn" mat-stroked-button>Home</button>
                </div>
                <div>
                    <button class="btn" mat-stroked-button>Work</button>
                </div>
                <div>
                    <button class="btn" mat-stroked-button>Other</button>
                </div>
            </div>
        </div>

        <div class="cont-details col col-100">

            <p class="enter-add">Contact Details</p>
            <div class="contact-details">

                <mat-form-field appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput>

                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contact</mat-label>
                    <input matInput>

                </mat-form-field>
            </div>
        </div>

        <div class="add-address col col-100">
            <p class="enter-add">Address</p>
            <div class="contact-details">

                <mat-form-field appearance="outline">
                    <mat-label>Pin Code</mat-label>
                    <input matInput>

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Complete address</mat-label>
                    <input matInput>

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>floor(Optional)</mat-label>
                    <input matInput>

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Nearby landmark(Optional)</mat-label>
                    <input matInput>

                </mat-form-field>
            </div>

        </div>

        <div class="logout">
            <button mat-raised-button><span class="log">SAVE ADDRESS</span></button>
        </div>

    </div>
</div>