<div class="col col-100">
    <div class="header">
        <p>
            <mat-icon>

                arrow_back_ios_new

            </mat-icon>
        </p>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="main">


            <div class="accessories">
                <p>accessories</p>
                <div class="access-img ">
                    <img style="max-width: 100%;" src="../../../assets/img/burn-products/Frame 1042.png" alt="">
                    <img style="max-width: 100%;" src="../../../assets/img/burn-newin/newin.png" alt="">

                </div>
            </div>
            <div class="accessories">
                <p>NEW IN</p>
                <div class="access-img ">
                    <img style="max-width: 100%;" src="../../../assets/img/burn-newin/newin.png" alt="">
                    <img style="max-width: 100%;" src="../../../assets/img/burn-products/Frame 1042.png" alt="">

                </div>
            </div>

            <div class="accessories">
                <p>BRANDS <br>
                    SPOTLIGHT</p>
                <div class="brands">
                    <img class="brand_img" style="max-width: 100%;" src="../../../assets/img/burn-newin/Frame 1005.png"
                        alt="">
                    <img class="brand_img" style="max-width: 100%;" src="../../../assets/img/burn-newin/Frame 1006.png"
                        alt="">
                    <img class="brand_img" style="max-width: 100%;" src="../../../assets/img/burn-newin/Frame 1007.png"
                        alt="">
                    <img class="brand_img" style="max-width: 100%;" src="../../../assets/img/burn-newin/Frame 1008.png"
                        alt="">
                    <img class="brand_img" style="max-width: 100%;" src="../../../assets/img/burn-newin/Frame 1009.png"
                        alt="">
                    <img class="brand_img" style="max-width: 100%;" src="../../../assets/img/burn-newin/Frame 1010.png"
                        alt="">


                </div>
            </div>

            <div>
                <a class="explore_more">
                    <p>explore more brands here</p>
                    <mat-icon>
                        chevron_right
                    </mat-icon>
                </a>
            </div>

            <!--  -->

            <div class="footwear_all">
                <p class="footwear">FOOTWEAR</p>
                <a class="see_all">see all</a>

            </div>



            <div>
                <div class="flex-container">

                    <div class="footwear1">
                        <a class="footwears_card footwear_card">
                            <div class="img_footwear">
                                <img src="../../../assets/img/burn-newin/unsplash_7TlWZkpxCb0.png" alt="">
                            </div>
                            <div>
                                <p class="footwear_text">Bold Core
                                </p>
                            </div>

                            <div>
                                <p class="footwear_desc">Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="footwear_rupees">
                                <p class="footwear_rup">Rs.500</p>
                                <p class=" footwear_dis_rup">Rs.450</p>
                            </div>
                            <div>
                                <p class="footwear_off">83% Off</p>

                            </div>
                            <div>
                            </div>
                        </a>
                    </div>
                    <div class="footwear1">
                        <a class="footwears_card footwear_card">
                            <div class="img_footwear">
                                <img src="../../../assets/img/burn-newin/unsplash_7TlWZkpxCb0.png" alt="">
                            </div>

                            <div>
                                <div>
                                    <p class="footwear_text">Bold Core
                                    </p>
                                </div>

                                <div>
                                    <p class="footwear_desc">Lorem ipsum dolor sit amet</p>
                                </div>

                                <div class="footwear_rupees">
                                    <p class="footwear_rup">Rs.500</p>
                                    <p class=" footwear_dis_rup">Rs.450</p>
                                </div>

                                <div>
                                    <p class="footwear_off">83% Off</p>

                                </div>

                                <div>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>
            </div>

            <!--  -->

            <div class="footwear_all">
                <p class="footwear">BAGS & WALLET</p>
                <a class="see_all">see all</a>

            </div>



            <div>
                <div class="flex-container">

                    <div class="footwear1">
                        <a class="footwears_card footwear_card">
                            <div class="img_footwear">
                                <img src="../../../assets/img/burn-newin/bag1.png" alt="">
                            </div>
                            <div>
                                <p class="footwear_text">Bold Core
                                </p>
                            </div>

                            <div>
                                <p class="footwear_desc">Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="footwear_rupees">
                                <p class="footwear_rup">Rs.500</p>
                                <p class=" footwear_dis_rup">Rs.450</p>
                            </div>
                            <div>
                                <p class="footwear_off">83% Off</p>

                            </div>
                            <div>
                            </div>
                        </a>
                    </div>
                    <div class="footwear1">
                        <a class="footwears_card footwear_card">
                            <div class="img_footwear">
                                <img src="../../../assets/img/burn-newin/bag2.png" alt="">
                            </div>

                            <div>
                                <div>
                                    <p class="footwear_text">Bold Core
                                    </p>
                                </div>

                                <div>
                                    <p class="footwear_desc">Lorem ipsum dolor sit amet</p>
                                </div>

                                <div class="footwear_rupees">
                                    <p class="footwear_rup">Rs.500</p>
                                    <p class=" footwear_dis_rup">Rs.450</p>
                                </div>

                                <div>
                                    <p class="footwear_off">83% Off</p>

                                </div>

                                <div>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>
            </div>

            <!--  -->

            <div class="footwear_all">
                <p class="footwear">JEWELLERY</p>
                <a class="see_all">see all</a>

            </div>



            <div>
                <div class="flex-container">

                    <div class="footwear1">
                        <a class="footwears_card footwear_card">
                            <div class="img_footwear">
                                <img src="../../../assets/img/burn-newin/jewellary1.png" alt="">
                            </div>
                            <div>
                                <p class="footwear_text">Bold Core
                                </p>
                            </div>

                            <div>
                                <p class="footwear_desc">Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="footwear_rupees">
                                <p class="footwear_rup">Rs.500</p>
                                <p class=" footwear_dis_rup">Rs.450</p>
                            </div>
                            <div>
                                <p class="footwear_off">83% Off</p>

                            </div>
                            <div>
                            </div>
                        </a>
                    </div>
                    <div class="footwear1">
                        <a class="footwears_card footwear_card">
                            <div class="img_footwear">
                                <img src="../../../assets/img/burn-newin/jewellary2.png" alt="">
                            </div>

                            <div>
                                <div>
                                    <p class="footwear_text">Bold Core
                                    </p>
                                </div>

                                <div>
                                    <p class="footwear_desc">Lorem ipsum dolor sit amet</p>
                                </div>

                                <div class="footwear_rupees">
                                    <p class="footwear_rup">Rs.500</p>
                                    <p class=" footwear_dis_rup">Rs.450</p>
                                </div>

                                <div>
                                    <p class="footwear_off">83% Off</p>

                                </div>

                                <div>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>
            </div>

            <!--  -->

            <div class="footwear_all">
                <p class="footwear">CLOTHING</p>
                <a class="see_all">see all</a>

            </div>



            <div>
                <div class="flex-container">

                    <div class="footwear1">
                        <a class="footwears_card footwear_card">
                            <div class="img_footwear">
                                <img src="../../../assets/img/burn-newin/cloth1.png" alt="">
                            </div>
                            <div>
                                <p class="footwear_text">Bold Core
                                </p>
                            </div>

                            <div>
                                <p class="footwear_desc">Lorem ipsum dolor sit amet</p>
                            </div>

                            <div class="footwear_rupees">
                                <p class="footwear_rup">Rs.500</p>
                                <p class=" footwear_dis_rup">Rs.450</p>
                            </div>
                            <div>
                                <p class="footwear_off">83% Off</p>

                            </div>
                            <div>
                            </div>
                        </a>
                    </div>
                    <div class="footwear1">
                        <a class="footwears_card footwear_card">
                            <div class="img_footwear">
                                <img src="../../../assets/img/burn-newin/cloth2.png" alt="">
                            </div>

                            <div>
                                <div>
                                    <p class="footwear_text">Bold Core
                                    </p>
                                </div>

                                <div>
                                    <p class="footwear_desc">Lorem ipsum dolor sit amet</p>
                                </div>

                                <div class="footwear_rupees">
                                    <p class="footwear_rup">Rs.500</p>
                                    <p class=" footwear_dis_rup">Rs.450</p>
                                </div>

                                <div>
                                    <p class="footwear_off">83% Off</p>

                                </div>

                                <div>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>
            </div>

            <div class="footwear_all">
                <p class="footwear">CURATED <br>
                    FOR YOU</p>
                <a class="see_all">see all</a>

            </div>


            <div class="flex-container">

                <div class="curated-for-you">

                    <a class="card1 curated-card">
                        <div class="img-curated"
                            style="background-image: url('../../../assets/img/burn-section/curated.png');">
                        </div>
                        <div>
                            <p class="prod-text">Bold Core
                            </p>
                        </div>

                        <div>
                            <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="rupees">
                            <p class="prod-rup">Rs.500</p>
                            <p class="dis-rup">Rs.450</p>
                        </div>

                        <div>
                            <p class="off">83% Off</p>
                        </div>
                    </a>

                </div>
                <div class="right-card curated-for-you">

                    <a class="card1 curated-card">
                        <div class="img-curated"
                            style="background-image: url('../../../assets/img/burn-section/a.png');">
                        </div>
                        <div>
                            <p class="prod-text">Bold Core</p>
                        </div>

                        <div>
                            <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="rupees">
                            <p class="prod-rup">Rs.500</p>
                            <p class="dis-rup">Rs.450</p>
                        </div>

                        <div>
                            <p class="off">83% Off</p>
                        </div>
                    </a>

                </div>

                <div class="curated-for-you">

                    <a class="card1 curated-card">
                        <div class="img-curated"
                            style="background-image: url('../../../assets/img/burn-section/curated.png');">
                        </div>
                        <div>
                            <p class="prod-text">Bold Core</p>
                        </div>

                        <div>
                            <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="rupees">
                            <p class="prod-rup">Rs.500</p>
                            <p class="dis-rup">Rs.450</p>
                        </div>

                        <div>
                            <p class="off">83% Off</p>
                        </div>
                    </a>

                </div>
                <div class="right-card curated-for-you">

                    <a class="card1 curated-card">
                        <div class="img-curated"
                            style="background-image: url('../../../assets/img/burn-section/a.png');">
                        </div>
                        <div>
                            <p class="prod-text">Bold Core</p>
                        </div>

                        <div>
                            <p class="prod-desc">Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="rupees">
                            <p class="prod-rup">Rs.500</p>
                            <p class="dis-rup">Rs.450</p>
                        </div>

                        <div>
                            <p class="off">83% Off</p>
                        </div>
                    </a>

                </div>

            </div>


        </div>



    </div>
</div>